[2020-02-23 00:17] jni commented on #503
Yep, a new API sounds like the best solution. Having said that, over at skimage we are considering moving away from guaranteeing numpy arrays, instead guaranteeing objects coercible to numpy arrays (e.g. dask arrays, zarr arrays...). Doing this in imageio would help support big data formats by returning dask arrays, as just one example.

Either way, I do think separating the array and the metadata

[2020-02-24 10:31] almarklein commented on #516
1: imageio-ffmpeg provides binary wheels for Linux X86_64. So for Linuxes that do not match manylinux2010, are 32bit, or are ARM, one needs to install ffmpeg separately.

2: The same number of tests are running, but some tests are skipped if `simpleitk`  or `astropy` are not available.

[2020-02-24 11:22] odidev commented on #516
Hi @almarklein ,
Thanks for the quick response.
1. Even after downloading "ffmpeg" separatly using apt-get, two test cases are getting failed in Travis-CI. Though locally it is working fine and all the tests are passing.
 here are the details of error::
`=================================== FAILURES ===================================
____________________________ test_get_exe_installed ____________

[2020-02-24 11:49] almarklein commented on #516
`test_get_exe_installed` assumes that imageio-ffmpeg comes with a working binary. So we should find a way to skip that test on systems like yours. Like detecting ARM?

IN the second fail, there is a discrepancy of 1 frame, which is not uncommon between different Python versions. We should allow for a tiny range there, I guess.

PR's welcome for both issues; I would love to see the tests working in

[2020-02-25 07:41] Ross1503 commented on #516
Hi @almarklein,
Thanks for explaining it properly.
In second case, what do you think will be a good value for providing the range? I've tested it with multiple python versions and i am getting 281 frames at max. shall i put just 280 to 281 or something else?

[2020-02-25 08:16] odidev commented on #516
Hi @almarklein,
Thanks for explaining it properly.
In second case, what do you think will be a good value for providing the range? I've tested it with multiple python versions and i am getting 281 frames at max. shall i put just 280 to 281 or something else?

[2020-02-25 09:42] almarklein commented on #516
I principal think we can consider the test as passed if its 280 +/- 2 or so. But if you see only values of 280 and 281, let's just `assert len(ims) in (280, 281)` :)

[2020-02-27 13:20] PaulStahr opened #517 "Not saving properly exr File"
The following code produces an image with artifacts:

imageio.plugins.freeimage.download()
image = np.full((1024,1024,3),1,dtype=float)
#image =imageio.imread("https://upload.wikimedia.org/wikipedia/commons/c/ce/PNG_demo_Banana.png").astype(np.float32)/256
print("in  ",np.min(image), np.max(image))
plt.imshow(image)
plt.show()
output_file = "test.exr"
imageio.imwrite(output_file,image.astype(np.fl

[2020-03-02 11:19] almarklein commented on #501
I'm not out to automagically make all use-cases work out of the box. But I hope to find a way to avoid (most) unexpected scenario's, e.g. by categorizing metadata, or allow plugins to marking fields in some way.

[2020-03-02 13:47] odidev commented on #516
Hi @almarklein,
Thanks for your suggestion. I've tested it with the changes suggested by you and now it is working on ARM64 architecture for python version 3.5 & 3.6. but getting cmake build issue for python 3.7 because simpleITK package is using it. If we are building Cmake separately through source, it is taking a lot of time (around 40 min) and also needs administrative permission. so can we sk

[2020-03-02 14:01] almarklein commented on #516
Sure. If you're coming with a PR that ads such a skip, please add a note similar to your comment :)

[2020-03-12 00:15] jaewooklee93 commented on #496
I've encounterd almost the same error.
I'm pretty sure that I installed the latest version via conda, namely, `imageio=2.8.0`, `imageio-ffmpeg=0.4.1`.

I'm using Ubuntu 16.04 LTS and I think I installed all required packages (ffmpeg, x264, etc.)

The below is self contained code
[code]

and it produces the error message below, seemingly related to `write_frames` in `imageio_ffmpeg/_io.py`
[code]

[2020-03-12 00:21] jaewooklee93 commented on #496
I should add to say,
[code]
makes designated gif file properly

[2020-03-12 01:00] jaewooklee93 commented on #496
Oh, I almost figured out why this happens.

conda installer brings its own `ffmpeg` executable at `/home/jaewooklee/.anaconda3/envs/venv/bin/ffmpeg`, which override `/usr/bin/ffmpeg`.

Sadly, `conda` version `ffmpeg` seems not to bring `h264` codec (especially encoder)

`conda uninstall ffpmeg` solves this problem

[2020-03-13 21:33] teaglin opened #519 "Install doesn't work for Python 2"
Installing through pip doesn't work and if attempting to install directly from source the dependencies won't install either.

Collecting numpy (from -r requirements.txt (line 3))
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pillow (from -r requirements.txt (line 4)

[2020-03-13 22:09] almarklein commented on #519
Duplicate of #515. You can pin to imageio 2.6 as a workaround.

[2020-03-13 22:09] #519 closed

[2020-03-13 23:21] almarklein commented on #496
Thanks for digging into this. Annoying that conda still ships such an old version of ffmpeg ...

[2020-03-17 02:09] sound-fx opened #520 "imread ver 2.6.1 fails on this geotiff file with err=-2"
The code

[code]
works as expected using Python 2.7.16 and imageio 2.5.0 on Windows 10 (all from the default install of 64-bit Anaconda Distribution 2010.10), with [this lsm.geotiff file](https://github.com/hfs/land-sea-mask/raw/master/lsm.geotiff).

But when using Python 3.7.6 and imageio 2.6.1 on Windows 10 (all coming from the default install of the 64-bit Anaconda Individual Edition 2020.02),

[2020-03-17 09:06] kmilos commented on #520
This is a known `libtiff` issue, see https://github.com/python-pillow/Pillow/issues/4237

Either downgrade to libitiff 4.0.10 temporarily, or use the `TIFF-FI` backend of imageio.

[2020-03-22 01:11] CarolinGao opened #521 "how can i get object of each frame if I use imageio_ffmpeg.read_frames？"
When I use `driving_video = imageio.mimread(opt.driving_video, memtest=False)` , it always throws the exception `imageio.core.format.CannotReadFrameError: Could not read frame 0:
Frame is 0 bytes, but expected 230400.` Instead I use `driving_video = read_frames(opt.driving_video)` , but  I also want to iterate frames and resize each of them, but each frame is type of bytes, how can I get object li

[2020-03-23 09:02] almarklein commented on #521
A reader object is an iterable of numpy arrays. See this example:
[code]

Though the first error might suggest that the video file is corrupt (or not really a video file). What is the extension of filename? You might want to add `format='ffmpeg'` to make sure that the ffmpeg plugin is used.

[2020-04-06 18:31] marxenegls opened #522 "_tiffile.py SyntaxWarning"
Setting up python3-imageio (2.4.1-2) ...
/usr/lib/python3/dist-packages/imageio/plugins/_tifffile.py:2813: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if key is 0:

[code]

I also noticed two diff tifffile.py and _tifffile.py in the same plugins folder

[_tifffile.txt](https://github.com/imageio/imageio/files/4440141/_tifffile.txt)
[tifffile.txt](https://github.com/imageio/imageio/fil

[2020-04-07 13:06] almarklein commented on #522
The `_tifffle.py` is a 3d party module that is included in imageio. The `tifffile.py` is imageio's wrapper for it. So the error is actually in the 3d party code. Fortunately it is also no longer there :)

[2020-04-07 13:06] #522 closed

[2020-04-19 16:03] yashwardhanchauhan commented on #354
ERROR: Cannot uninstall 'imageio'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

[2020-04-20 15:34] almarklein commented on #354
@yashwardhanchauhan I think this can happen when you've installed from source using `python setup.py install`. In this case you best go to your `site_packages` directory, and remove the imageio directory there.

You can find the location of imageio using `>> import imageio; print(imageio.__file__)`.

[2020-05-05 14:19] geekswaroop opened #523 "RuntimeError: Format HDF5-PIL cannot read in single-volume mode"
I am trying to read in a volume image using the following code
`im = imageio.volread(D0+'pd_instances.h5', format='.h5')` (D0 is a directory path)

I get a runtime error stating it can't be read in single-volume mode. On looking at the code [here](https://github.com/imageio/imageio/blob/b83abf408b00eaaae1a1033d3785c152083fc7c5/imageio/core/functions.py#L453) , it implicitly calls with `mode="v"`.

[2020-05-05 14:28] geekswaroop commented on #523
I did try using `imageio.get_reader` and then it returns `RuntimeError: Format HDF5-PIL cannot read in multi-volume mode
`

[2020-05-07 07:18] ekcheng opened #524 "Slow performance with ffmpeg mkv parsing"
Hello,

Hoping you can help me understand a performance slowdown I am experiencing.

I am using `imageio` to parse frames from a live video stream that I receive as a sequence of ~1-second `mkv` video fragments. Every time a new fragment is read from the stream, its bytes are passed to `imageio` like so:

[code]

Then we process the frames until we run out, create a new reader out of the next frag

[2020-05-11 13:21] almarklein commented on #524
The problem is that because of the way that imageio-ffmpeg works, the video needs to be on the file system. (ffmpeg is called in a subprocess and all we can do is pass a filename). So when you give imageio a chunk of data to read video frames from, that data will first be written to disk, where ffmpeg will read it from, and send the frames to Python.

Perhaps this can be sped up using memory mappe

[2020-05-12 01:07] ekcheng commented on #524
Hi @almarklein, much appreciate the tip. For what it's worth, it looks as though writing the mkv bytes to disk and parsing them using OpenCV's `VideoCapture` is significantly faster than passing the bytes into `imageio`. Wondering if this is because OpenCV somehow uses ffmpeg under the hood in a more native fashion, without the need to spawn a separate subprocess.

Will let you know if we have any

[2020-05-12 01:07] #524 closed

[2020-05-12 06:47] almarklein commented on #524
Yes, it's likely that OpenCV uses ffmpeg as a library. We could have gone with that approach too, but it would make imageio-ffmpeg more complex, harder to maintain, and harder to distribute. You're now running into on of its downsides ...

[2020-05-13 08:56] OlofHarrysson commented on #387
I'm seeing the same as you @pwuertz on opencv-python==4.2.0.32 via pip

[2020-05-22 21:03] MHBalsmeier opened #528 "Colorbar displayed incorrectly when creating Gif"
Hi I want to create a gif test.gif out of 2 pngs 0.png and 1.png with the following code:

import imageio;
gif = [];
gif.append(imageio.imread("0.png"));
gif.append(imageio.imread("1.png"));
imageio.mimsave("test.gif", gif, "GIF", duration = 1);
![0](https://user-images.githubusercontent.com/56491557/82709205-59872f00-9c80-11ea-8271-86d4cfba6836.png)
![1](https://user-images.githubusercontent.com/

[2020-05-25 09:58] almarklein commented on #523
Sorry for the late reply. Holidays, and then this email got buried under more mail :)

That's because you called `volread`. This plugin is a "regular" Pillow plugin; we don't do anything special here, which means that it can probably only be used to read 2D images at the moment.

We could extend this plugin to allow more, but I am not sure if Pillow allows it.

[2020-05-25 10:08] almarklein commented on #528
This is because the limited amounts of colors available in gif images. It may be worth trying mp4 instead.

[2020-05-25 11:38] MHBalsmeier commented on #528
Thanks, that solved  the problem. It is not possible to make an MP4 loop like a gif, right?

[2020-05-25 13:12] almarklein commented on #528
No, but if you display it on a web-page, you can turn on looping there: https://www.w3schools.com/tags/av_prop_loop.asp

[2020-05-25 13:12] #528 closed

[2020-05-25 13:17] MHBalsmeier commented on #528
Ok, thanks.

[2020-06-05 10:08] brukted opened #531 "Thumbnail generation"
Does oiio have thumbnail generation feature?. If not how can I do it?

[2020-06-05 12:37] almarklein commented on #531
I don't know what oiio is, but imageio does not. It focuses on reading and writing images, and leaves image processing to other tools, like scikit-image. Pillow might also have support.

[2020-06-05 12:37] #531 closed

[2020-06-08 14:20] jneuhauser opened #533 "How can we set the socket timeout on http(s) request?"
Hello,

I´m using this great library for fetching random images from unsplash like:

[code]

Sadly on 6 of 8000 images there is a socket.timeout exception thrown and i wan´t to reduce the timeout to a short time like 3 seconds.
How can this be done and keep the simplicity of this great library?

Thanks in advance.

[2020-06-09 07:42] almarklein commented on #533
That timeout is hardcoded here: https://github.com/imageio/imageio/blob/master/imageio/core/request.py#L347

It would be nice to allow specifying the timeout. I think it makes the most sense to use an environment variable for that (https://imageio.readthedocs.io/en/stable/envvariables.html). Care for a PR? ;)

[2020-06-09 08:52] jneuhauser commented on #533
I've created a PR that uses the param timeout throught **kwargs.
I think this is more common for such params like timeout, but on the other side this is more a taste of the developer itself.

[2020-06-15 07:50] almarklein commented on #533
#closed by #534

[2020-06-15 07:50] #533 closed

[2020-06-27 16:45] tushar5526 opened #535 "Is there any option to flip image in ImageIO ?"
Like Pillow is there any option to flip an image in imageio.

[2020-06-29 06:27] hunaidkhan2000 opened #536 "Imageio python Heroku read only access error"
Hi i am deplying a scanner using tesseract and pytesseract. While scanning the file imageio is creating a temp BMP file in the system but due to Heroku's policy of only allowing read only access to the libraries ,I am not able to run my code. I am getting following error.
 **File "/app/.heroku/python/lib/python3.8/site-packages/imageio/core/request.py", line 328, in get_file
2020-06-29T05:08:44.78

[2020-06-29 07:42] almarklein commented on #535
The points of imageio is to be a library for image reading and writing (and not more than that). It returns numpy arrays so you can go from there.

In this case, it's easy: `np.fliplr(im)`

[2020-06-29 07:42] #535 closed

[2020-06-29 07:45] almarklein commented on #536
To be honest, this question is a Heroko question. If you don't have access to read the image, there's nothing imageio can do to help. You should make sure to place the image in a folder that you have read-access to. But I am not very familiar with Heroku so I don't know where that would be.

[2020-06-29 07:45] #536 closed

[2020-06-29 10:09] carpemonf opened #537 "Generate video before closing with FFMPEG writer"
Is there away to create intermediate video files before executing `W.close()?` In the example below, I would like to use the data appended to the writer for checking the video as it is generated. This code creates `test.mp4` at the writer definition but it is not longer modified until `W.close()` which I guess is the expected behavior.

Thank you.

[code]

[2020-07-05 12:50] MichelangeloConserva opened #538 "Get GIF from numpy 4d array"
I d like to produce a GIF from a 4d array. How can I do it using this library?

This is a reproducible example of what I would like to do:
[code]

One way possible that I have found is to locally save the image using matplotlib.
However this is extremely slow.

Another way is the following:
[code]
This is fast enough however the images in the gif are extremely small and not clearly visible.

[2020-07-06 11:44] almarklein commented on #537
What happens as you write a video file, is that Python handles the frames (when you call `append_data`) to `ffmpeg`, which runs in a subprocess. The `ffmpeg` decides when data is written to disk. It will likely first accumulate some frames so that it can generate a key-frame followed by diff-frames.

So ... not really. If you want to view the video as it is being created, this *may* be possible, b

[2020-07-06 11:45] almarklein commented on #537
What is the intention behind this question? Perhaps there is another way to achieve what you need.

[2020-07-06 11:51] almarklein commented on #538
This should be the way to go, though you could use just a `dict` instead of imageio's internal `Dict`, and you can use `append_data(frame, dd)` instead of using imageio's internal `Image`.

Well, the data creates 100 images that are 11x11, which is already quite small indeed :)  note that the GIF format has just 8 bits for colours, which may contribute to the images looking odd, if many different

[2020-07-06 11:52] #538 closed

[2020-07-06 12:55] #521 closed

[2020-07-06 12:55] #520 closed

[2020-07-06 12:57] #515 closed

[2020-07-06 13:06] almarklein commented on #516
This was closed by #518, right?

[2020-07-06 13:06] #516 closed

[2020-07-06 13:12] odidev commented on #516
Yes.

[2020-07-06 14:02] carpemonf commented on #537
Thanks @almarklein for your reply. Good to know, I will check if changing fps and number of images is a solution for me. With this specific example the write only happened at the end with the `close` command. I expect playing the video with `ffplay` for `MP4` which worked for me for other approaches.

The idea is encoding a video on-the-fly (using Python) as the images are generated by another pro

[2020-07-06 14:09] almarklein commented on #537
The `ffmpeg` process might also buffer its output and not flush it that often. That's something we do not control at all. Unless perhaps `ffmpeg` has command line arguments to flush to disk more often or something.

[2020-07-06 14:53] carpemonf commented on #537
If I'm not wrong `-flush_packets` can be used for writing inmediately - although not a good idea for I/O with high frequency image generation but useful in some cases. I passed this flag as an argument through `input_params` but it failed:

[code]

[2020-07-10 07:04] zerothi opened #540 "Release 0.9.0? Not 2.9.0?"
Why is the latest release 0.9.0? Shouldn't it have been 2.9.0?

[2020-07-10 07:47] almarklein commented on #540
Thanks for reporting this! This was a typo, my mistake! Fixed :)

[2020-07-10 07:47] #540 closed

[2020-07-12 19:44] kevenv commented on #517
I have similar issues with EXR. It seems like `freeimage` doesn't handle HDR image formats such as EXR properly. Those bugs are pretty concerning:
- https://sourceforge.net/p/freeimage/bugs/259/
- https://sourceforge.net/p/freeimage/bugs/116/

Using `pyexr` instead (which is just a wrapper on `OpenEXR`) fixes my issues.

[2020-07-13 14:15] MichelangeloConserva commented on #538
I have found a faster and easier way.
I will share it here so that others can benefit as well.

[code]
The key is that frames should be a list of numpy arrays.

[2020-07-16 05:10] CindyQi7788 opened #541 "read image directory from AWS S3 bucket"
I used AWS s3path to read a AWS S3 bucket folder containing all the dicom images.

I use AWS Sagemaker notebook to run imageio.

However imageio.volread() can not recognize the 's3://mybucket_folder/' because it automatically add the current SageMaker folder directory in front of the S3 bucket folder path.

Please let me know how to load multiple dicom images from S3 bucket to AWS sagemaker notebo

[2020-07-20 01:52] hwilson10 opened #542 "can read from webcam using python3 idle, cant when running script"
When I open python3 on my raspberry pi 4 command line I can type the following and get an image from my webcam
[code]

however when I write the exact same thing into a python script (snap.py) and run with python3 ($ python3 snap.py) i get a black image.

Does anyone have any idea as to what could be the issue here?  Im on a fresh install of the no desktop version of raspbian from the NOOBS package

[2020-07-20 12:47] #542 closed

[2020-07-20 13:44] CielAl opened #543 "Potential unspecific error message while writing large pillow image into file using imwrite"
Environment: Windows 18363.959
Python  3.7.4
imageio                  2.6.1
Pillow                   6.2.2
numpy                  1.19.0

I haven't confirmed it with more test yet, but it appears that in certain circumstances, potentially when memory is sufficient, conversion between Pillow and Numpy arrays using `np.asanyarray`/`np.array`/`np.asarray` yield a numpy array of `Image `object with `d

[2020-07-27 09:19] almarklein commented on #538
Thanks! Yes, that's nice and short 👍

For completeness, I should mention that the former way that uses `append_data()` is streaming, so it will be more efficient in terms of memory. This could matter if the number of images becomes large.

[2020-07-27 09:22] almarklein commented on #541
The feature to read a DICOM volume from multiple images in a folder only works for folders on your file system, not for url's. So you'd have two options:

* First download the data to a local folder (manually, or with Python), then call imageio on that.
* Read the individual DICOM files from their url's, and then pack them into a 3D array.

[2020-07-27 09:26] almarklein commented on #542
That's odd ... Not sure why this would be. My suggestion would be to apply a for-loop taking e.g. 10 screenshots, and a `time.sleep(1)` between each one.

[2020-07-27 09:41] CindyQi7788 commented on #541
Thanks for the reply!

Xin

[2020-07-27 09:45] almarklein commented on #543
I can indeed reproduce this. On a 32-bit Python implementation:

[code]

Produces:
[code]

[2020-07-27 09:51] almarklein commented on #543
I find it somewhat disturbing that `np.asanyarray()` has a different result when there is too little memory, instead of raising `MemoryError`.  Not sure what we could do about this, to be honest ...

[2020-07-31 00:17] devernay commented on #356
You should not harcode the EXR_FLOAT value, but use `imageio.plugins.freeimage.IO_FLAGS.EXR_FLOAT` instead

[2020-07-31 12:12] anntzer opened #544 "Creating Array from preexisting Array drops metadata"
[code]
Given that most operations on an Array appear to just keep the metadata as is, it seems reasonable to expect that creating a new Array from a preexisting one, without explicitly setting new metadata, should also keep the original metadata.

[2020-08-02 04:10] alkasm opened #545 "np.ndarray.tostring() is deprecated, should use tobytes()"
As of numpy 1.19.0, the usage of `a.tostring()` raises a `DeprecationWarning` as discussed in the [release notes](https://numpy.org/devdocs/release/1.19.0-notes.html) and the [docs](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.tostring.html).

This method is deprecated since the name implies it returns a string, although it returns bytes. The name is simply an alias for `tobytes(

[2020-08-03 10:23] almarklein commented on #544
This depends on the situation. We've chosen to explicitly not do this. If you want to keep the metadata, keep your own reference using the image that imageio returns.

[2020-08-03 10:24] #544 closed

[2020-08-03 10:36] anntzer commented on #544
OK, I'll give another try at arguing for this.
Currently, if you add two Arrays, imageio keeps the metadata of the first array and drops the second:
[code]
but it is rather unlikely that `{"foo": 1}` is the correct metadata for the sum!  Well, it's not *impossible*, but certainly it is more likely that a simple copy would not invalidate the metadata.

[2020-08-03 13:00] almarklein commented on #544
Ah, I must have rushed a bit when I read the original question. You mean that `imageio.core.Array(t).meta` does not take over the metadata of `t`, even though that would be expected.

That makes sense, and a PR is welcome to fix it. Otherwise I'll likely fix it when I spend some free cycles on imageio maintenance.  Note though that we want to make major changes to how metadata is handled in imagei

[2020-08-12 15:23] JuanFMontesinos opened #546 "[Question] get_reader kwargs docs/example"
Hi,
I really like this library and I think it's powerful and efficient but it's not very well documented.
Most of the functions accept kwargs nor formats which aren't really described. So the library ends up becoming a simple reader

In case of `get_reader` is there any example of what can be done through kwargs¿?

[2020-08-13 07:47] almarklein commented on #452
There is now a confirmation in that the cameraman is not compatible with the way we distribute it, and it must therefore be removed.

[2020-08-17 13:01] almarklein commented on #546
Imageio has a wide range of plugins, which each offer different functionality, specific to the image format and the plugin itself.

The `kwargs` are passed to the formats. See [this page](https://imageio.readthedocs.io/en/stable/formats.html) for all the formats. Each format has docs for the `kwargs` that are accepted.

Perhaps a link to this page could be added to the docs of `get_reader()`, or t

[2020-08-21 03:35] DoubleQ0726 opened #547 "Unable to download 'freeimage-3.15.1-win64.dll'."
https://github.com/imageio/imageio/blob/master/imageio/core/fetching.py，
in this file line62: _url_root = "https://github.com/imageio/imageio-binaries/raw/master/" is invalidation.
web page has 404 NOTFOUND error.

[2020-08-24 08:58] almarklein commented on #547
The root (https://github.com/imageio/imageio-binaries/raw/master/) is a 404, but the freeimage lib is not:
https://github.com/imageio/imageio-binaries/raw/master/freeimage/FreeImage-3.15.1-win64.dll

[2020-09-01 19:40] PaulStahr commented on #517
I also tried pyexr. But It seems to have problems, writing 1-channel images. Maybe the header is corrupt. Reading them back again with pyexr leads to the same result, but reading them with imageio doesn't work and opening it with gimp just crashes the plugin. See https://github.com/tvogels/pyexr/issues/15.

[2020-09-04 15:39] azymohliad opened #548 "Cannot imwrite into a directory named *.zip"
When I try to save the image into a directory which name ends with `.zip` it fails, assuming it should be a zip archive. For example:
[code]
where `test.zip` is an existing directory, it fails with:
[code]
Would it be a good idea to additionally check if it's a regular file whenever .zip extension is detected in the path before feeding it to `zipfile`?

For now I can work this around by:
[code]

[2020-09-07 13:45] almarklein commented on #548
Why do you have a directory name ending in ".zip"? :P

Yes, good idea!

[2020-09-07 14:21] #547 closed

[2020-09-07 14:31] #548 closed

[2020-09-07 14:39] #545 closed

[2020-09-07 14:40] almarklein commented on #545
Fixed. A few references leftin the vendored tifffile plugin. Should update that to the latest version, but it seems its API has changed, because it causes tests to fail ... so leaving that for another day/person ...

[2020-09-08 15:49] azymohliad commented on #548
Awesome! Thanks for such a fast fix!

I had a script that took a list of .jpg files and for each of them created a directory for some output, named as input file without extension. It failed on files `something.zip.jpg` because it resulted in `something.zip` for output directory name.

[2020-09-12 17:23] coddiw0mple commented on #448
For any future readers, I was getting an error as :

TypeError: _open() got an unexpected keyword argument 'pilmode'

Upon adding format='tiff-pil', I then had:

SyntaxError: not a TIFF file (header b'\xff\xd8\xff\xe0\x00\x10JF' not valid)

Simply removing the pilmode argument resolved it for me

[2020-09-17 13:25] isht7 opened #552 "Large color change when saving image to video"
Minimum working example of issue -
[code]
The output printed is,
[code]

The image.png saved looks like this
![image](https://user-images.githubusercontent.com/21278652/93475733-d41e2f00-f8ad-11ea-8f8f-37c12a55bb4e.png)

The video is just this image being repeated several times over. But the video looks like this,
![image](https://user-images.githubusercontent.com/21278652/93475931-0d569f00-f8ae-1

[2020-09-18 18:37] almarklein commented on #552
Relatively similar, yes, but you cannot expect the images to be the same :)

PNG is stored as RGB (or RGBA) and video (usually) as HSV or Y'CbCr. So colors will change. It might be possible to tell ffmpeg to use a custom color space (sRGB perhaps?) using an ffmpeg-specific output-param.

[2020-09-18 18:37] #552 closed

[2020-09-19 00:34] isht7 commented on #552
@almarklein thanks for the reply. My main concern was that if I replace `frame = np.concatenate((img,img), axis = 0)` with `frame = img`, then both the images look very similar. Could you tell why adding this line is causing this change?

[2020-09-21 08:23] isht7 commented on #552
I see, okay. Do you still think that it is not a bug?

[2020-09-21 08:45] almarklein commented on #552
If it were a bug, it would be one in ffmpeg itself. But I don't think it should be considered a bug. Video decoding is weird sometimes, especially for single frames.

[2020-09-21 10:37] isht7 commented on #552
@almarklein thanks for the reply. Actually, in this scenario, this happened with me when I was using different frames as well. But I replaced the different frames with a single frame to show a minimal reproducible example.
When I used opencv to write the video, it worked as expected. Is that because opencv does not use ffmpeg?

[2020-09-21 11:11] almarklein commented on #552
I don't know. At the least I presume it will use a different encoding ...

[2020-09-22 19:34] gh4ag opened #553 "Shift in output array when reading large spe files (Princeton Instrument : Lightfield)"
I had written a wrapper around the get_reader module to read Princeton Instrument .spe files:

f```
from imageio import get_reader
from imageio.core.util import asarray
import logging
import re
import xmltodict

# Capture the warning message sent by get_reader (if any)
log_capture_string = io.StringIO()
ch = logging.StreamHandler(log_capture_string)
ch.setLevel(logging.WARNING)
module_logger = log

[2020-09-24 16:17] hmaarrfk commented on #455
Have you figured out how to *write* the exif orientation using imageio?

[2020-09-28 09:50] almarklein commented on #553
That looks like it has the frames reversed then, right?

The imageio plugin for SPE is here: https://github.com/imageio/imageio/blob/master/imageio/plugins/spe.py

I looked at the file, and cannot find anything suspicious. I also don't see how it could behave differently for larger data files, so this behavior is surprising indeed.

I see you also hook into the logger. Are you sure that the observ

[2020-09-28 14:19] gh4ag commented on #553
Sorry, I have made a small mistake in my explanation.

The image was not reversed, I was just shifted

1234  -> 4123

I will set a complete MWE with a set of data for reproduction

Le lun. 28 sept. 2020 à 11:50, Almar Klein <notifications@github.com> a
écrit :

[2020-09-29 13:43] kmilos opened #554 "System FreeImage lib not detected on mingw32/mingw64"
On mingw32/mingw64 system DLLs are installed in bin/, which is not searched for anywhere in [generate_candidate_libs()](https://github.com/imageio/imageio/blob/efc560c514409e6425e2d7a839b4904b3d918fcf/imageio/core/findlib.py#L32)

Even when added, the return list has an additional spurious match for `libfreeimageplus-3.dll`, but luckily `libfreeimage-3.dll` comes first in the list.

[2020-10-05 15:11] #452 closed

[2020-10-05 15:12] almarklein commented on #452
Fixed, replaced with the same image as scikit-image.

[2020-10-05 15:17] sciunto commented on #452
awesome!

[2020-10-14 12:24] anntzer commented on #553
This is also something I have noticed.  In my case this is because the spe file additionally includes timestamps between the frames, so the stride between frames is slightly bigger than the frame size.  I have been using the following patch locally to fix the problem:
[code]
which is really just "read the stride from the xml metadata if present".  Unfortunately I can't point to any spec.

I don't

[2020-10-16 23:20] chaplinta opened #558 "volread not reading multi page tifs"
Hi, I'm having an issue with volread where it only reads the first page of tiffs. Please see this example file:

https://www.dropbox.com/s/vob9iwwqzwrsz7s/20201012_17_11_48_344486.1_XYT_ch_1.tif?dl=0

I installed imagio just today and have the latest version, on Ubuntu 18.04. These tif files were created with SciScan on Windows 7 and on that OS imagio seemed to have no problem reading all the page

[2020-10-19 09:25] gh4ag commented on #553
This is a very interesting finding @anntzer ! I will try to write a patch as you have suggested. I am also time constrained here, but let's not be pessimistic!

[2020-10-19 09:29] anntzer commented on #553
(and by the way, IIRC the padding is actually the timestamp (or index), so you could in theory expose it separately as metadata (I don't know to what extent imageio handles per-frame metadata, though)).

[2020-10-19 10:13] almarklein commented on #558
Thanks for reporting this issue!

Tiff has a notion of series, and apparently `imageio.volread()` will only select data from the first series, becasue `Tifffile.asarray` does this by default. Your data has two series. One containging a single page (i.e. image), and one containing 4649 images. I think that when opening/saving, then theire stores as a single series.

Any idea why the data might be s

[2020-10-19 10:33] chaplinta commented on #558
Thanks for looking into it.

Not sure about the extra series, maybe it's something to do with the microscopy software. One guess is that it sets the first frame aside in another series because it may not acquire a full image on the first frame - it's acquired with a scanning method (2-photon) the beam may start in some arbitrary position. I will take a closer look to see if I can figure it out.

I

[2020-10-19 11:27] almarklein commented on #558
Yes. And #559 makes `volread()` be more like reading all frames and stacking them together.

[2020-10-20 07:40] #558 closed

[2020-10-23 08:40] DinoOtaku opened #560 "Error installing Imageio."
**Hello, I would like to install imageio but when I install it I have this error:**

C:\Users\klein>pip install imageio
Collecting imageio
  Using cached imageio-2.9.0-py3-none-any.whl (3.3 MB)
Collecting pillow
  Downloading Pillow-8.0.1-cp39-cp39-win_amd64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 2.2 MB/s
Collecting numpy
  Using cached numpy-1.19.2.zip (7.3 MB)
  Installing b

[2020-10-23 09:11] almarklein commented on #560
The problem is that you are on Python 3.9, while there is no numpy build for Python 3.9 on Pypi yet. This causes pip to try and compile numpy from scratch, and this fails.

I'd recommend using Python 3.8 for now.

[2020-10-23 09:11] #560 closed

[2020-10-24 09:44] #450 closed

[2020-10-24 15:59] b3z opened #561 "RankWarning: Polyfit may be poorly conditioned"
[code]
any ideas?

Issue actually coming from [https://github.com/arc298/instagram-scraper/issues/609](https://github.com/arc298/instagram-scraper/issues/609)

[2020-10-26 09:47] almarklein commented on #561
It looks like the error occurs when imageio imports numpy, not in actual usage. The error message suggests an issue with compiling  a certain part of Numpy. I don't think this error is related to imageio.

How did you install numpy?

[2020-10-26 09:47] #561 closed

[2020-10-28 14:15] almarklein opened #562 "A simpler, more scalable way to write plugins"
@jni mentioned [this post](https://blog.danallan.com/posts/2020-03-07-reader-protocol/), and that got me thinking ...

This would be quite a bit change, and some things (*cough* meta data) are more urgent. However, it might be that the required changes in metadata break compatibility in some ways, making it easier to roll these changes out together?

I'd like to consider a new way to specify plugi

[2020-11-02 13:22] almarklein opened #563 "Design for a new public API"
Following up on a discussion started in https://github.com/scikit-image/scikit-image/issues/5036,
I'd like to consider an alternative API for imageio. How to apply this is another discussion; let's first dream up an ideal API :)

### TLDR

[code]

### Use-cases

Let's start by explaining some use-cases of data that a user might encounter.

A single image:

[code]

A stack of images. E.g. a Tiff, a

[2020-11-02 21:04] FirefoxMetzger commented on #563
Three thoughts:

(1) Is there a particular reason why you propose `imopen(...)` instead of leaning on python's `open(...)` and then pass the file object into a functional API? (Not familiar with this codebase) I could imagine something like

[code]

(2) Might be implied and I failed to read between the lines: I wouldn't use `g/i/v`, but the longer `greedy`, `volume`, `image` for clarity.

(3) If w

[2020-11-04 09:59] almarklein commented on #563
Thanks for the feedback!

Yes. I did not explain this above, but what `imopen` would do is select the right format/plugin (however you call it), given the filename/uri. It then returns the format object which will handle the actual reading/writing. I chose the name imopen, so that one could do `from imageio import imopen`.

Good point, I agree. I will update the examples.

Interesting idea! I don'

[2020-11-04 10:00] almarklein commented on #563
A bit of background: the core of imageio is responsible for basically two things:

* Selecting the right plugin, given a read or write request.
* Providing the plugin with an easy interface to get the data (either using a file object or a local filename), while enabling users to read from a wide variety of sources (filenames, file objects, http, ftp, zipfiles, etc).

[2020-11-04 15:18] FirefoxMetzger commented on #563
I gave it a bit more thought, and I think `imopen.__getitem__` is indeed a fun idea, but it should return a new `imopen` object. The concept would be analogous to numpy views. To get actual numpy data a `to_numpy()` function ala `pandas` would make a lot of sense.

[code]

The user-facing API could be quite simple:

[code]

I don't know if I understand the problem. If the stack and volume dimensio

[2020-11-04 20:03] almarklein commented on #563
Let's take a small step back :) The main thing to achieve here, is an API that provides both 1) a way to read the data in the file in the highest possible dimensionality, and 2) read data in an expected dimensionality, regardless of how it's organized in the file.

For the index-API to work, the first index should not simply refer to the first dimension of the data, because:

[code]

The alternati

[2020-11-04 20:03] almarklein commented on #563
Perhaps there are ideas that we can take away from the index-API. As an alternative to using the mode arguments to specify the expected dimensionality, we could do something like this:
[code]

[2020-11-05 07:13] FirefoxMetzger commented on #563
This one somehow strikes me as odd. What I understand here, is that the aim is to create an abstraction over file types. Regardless of how the image is stored. After the image is loaded by `imageio`, the dimensions will be in a predefined order with an expected meaning to each axis. I'm not sure how we would guarantee that. Will we reorganize dimensions if necessary? Are we constraining ourselves

[2020-11-06 11:11] lschr commented on #563
I just created #564, which I intended as an alternative interface to imageio. This may be relevant for this discussion as well.

[2020-11-06 13:59] jni commented on #562
@almarklein

This is definitely my view!

Everything else seems great here.

You could have a look at the way napari defines IO plugins here:

https://napari.org/docs/dev/plugins/index.html

it's very similar to the above but also uses napari-plugin-engine, which is just a fork of (pytest's) pluggy, to discover and execute plugins.

[2020-11-06 16:21] lschr commented on #553
The SPE v3 file spec can be found here: ftp://ftp.princetoninstruments.com/Public/Manuals/Princeton%20Instruments/SPE%203.0%20File%20Format%20Specification%20Issue%206%20%284411-0140%29.pdf
From what I can see there, all information describing the binary data (data type, frame shape, ROIs, strides, etc.) should be gathered from the XML instead of the binary header.

[2020-11-07 23:26] almarklein commented on #563
## About expressing the expected dimensionality.

It took me a while to reply because I had to contemplate this. The thing is that it is currently a part of imageio, and it plays a role in different parts, and I found that I cannot yet oversee whether/how it would work without it. I'll try to list the problems that I foresee:

### 1 - file formats are (sometimes) messy

I'm not sure if I agree ...

[2020-11-08 10:38] FirefoxMetzger commented on #563
Hmm ... many things to think about. A few questions (in no particular order):

1. Formats are indeed messy; especially esoteric ones. Regarding your concern that the response from some formats will not be meaningful: Is it a general concern, or do you already have specific formats in mind?
2. Whenever you talk about returning something sensible, it sounds a bit like you have a quite specific subse

[2020-11-09 11:59] almarklein commented on #563
It's more of a gut feeling. The plugins now do have this information, and I am not sure what it'd look like without it. Thinking of Dicom and Tiff in particular. It could be fine though!

With sensible I meant "something that makes sense to the user". If the user is able to express their expectation it's easier to match that than when the plugin code must make a guess. I suppose in most cases this

[2020-11-12 13:01] FirefoxMetzger commented on #563
@almarklein Thank you for such a detailed response.

I read up on the plugin documentation and took a stroll through some of the implementations. The plugins I checked seem to all load the entire image, with exception of `tifffile`, which allows a `key=N` argument to select a slice of width 1 along the first dimension of the array (which strongly looks like the C-API leaking into python). This wou

[2020-11-16 15:28] almarklein commented on #563
I think you were looking at the vendored code for `tifffile.py`. The imageio tifffile plugin's read method is [here](https://github.com/imageio/imageio/blob/master/imageio/plugins/tifffile.py#L242), and you can see it uses the mode parameter to determine what the index means.

I think Tifffile and Dicom are the only plugins that currently use the mode parameter. Naturally by far the most formats a

[2020-11-16 16:37] FirefoxMetzger commented on #563
Thanks again for the answers! Sorry, if my last comment was too harsh. I tend to get a bit critical and inquisitive when I am confused; I'm meaning no offense. I think I have a better sense of how things work under the hood now, so our discussion has definitely helped me.

---

Ok, then the slicing API is off the table.

I like the direction of the API in your top comment. If we try to challenge i

[2020-11-16 23:29] nbro opened #566 "Why does imageio produce blurry gif images?"
I'm trying to produce a gif animation with `imageio` by concatenating NumPy arrays of shape `(4, 4, 3)` that are stored in a list. Here's an example of such an array.

[code]

The type of these arrays is `uint8`. Typically, I have from 6 to 10 of these arrays, but this is not a big problem. Now, here's an example of such an array plotted with matplotlib's `imshow` (note that the white lines are ad

[2020-11-17 09:09] almarklein commented on #566
I think that what is hapening is that imshow uses linear interpolation to display the image. You can probably turn that off with a parameter.

[2020-11-17 10:33] almarklein commented on #563
No offense taken! I must admit that I was a bit frustrated at times - this started as an effort to bring skimage and imageio closer, which should (eventually) make maintaining imageio easier. But here we are discussion a brand new API, and some quite fundamental properties of the current implementation of imageio :)  Sorry if this made my come across as blunt sometimes.

The `mode` thing has been

[2020-11-17 10:49] pohlt opened #568 "Use non-square example images"
I never counted it, but many of the example images which can be retrieved using `imageio:whatever.png` are square.
In my experience, using square images during the development phase of an image processing pipeline is guaranteed to bite you at some point in the future (when you inevitably process a non-square image for the first time).

Of course, you could just crop a line or a row from a square e

[2020-11-17 11:24] almarklein commented on #568
Hi Tom!  That's actually a good point. I've never considered this before ... I think the astronaut is probably the most use image in the examples. The `chelsea.png` image is not square, we could make more use of it in the examples / docs. And add a note somewhere about the advantage of using non-square test images ...

[2020-11-17 11:58] nbro commented on #566
@almarklein Maybe you did not understand, I want to create a gif (with `imageio`, or something else that does the job) like the image displayed by `imshow`, from one or more arrays like the ones I am sharing with you above. These arrays mostly have numbers `224` (the grey colors) or the numbers corresponding to the green or blue.

[2020-11-17 12:24] almarklein commented on #566
Ah, I misread that part, sorry. Nevertheless, whatever application you're using to view the GIF is applying linear interpolation rather than the nearest-neighbour interpolation that you want.

My recommendation would be to upscale the image, e.g. to represent each pixel with 10x10 pixels. You can then even add white lines :)   This requires some numpy tricks, but should not be too hard. You can al

[2020-11-17 13:52] FirefoxMetzger commented on #563
I may not fully understand what additional functionality you have in mind. I'm sure you already thought about basic plumbing like:

[code]

If you mean custom methods on `imopen`, have you thought about allowing plugins to use a custom namespace like;

[code]

Opening the file twice for metadata and image data is an explicit choice because I think the case of not caring about metadata is much more

[2020-11-18 13:36] almarklein commented on #563
Yeah, that's what I meant. But I don't think it's a strong argument, because we can have ``kwargs`` in imread, like you mentioned.

I realized an important shortcoming: wrapper API's like @lschr's array-like interface would not be possible ...

----

I'm starting to think that we cannot have a single API. We can discern at least 3 API's:

* The `imopen` API to provide access to a plugin object. Th

[2020-11-18 17:16] lschr commented on #563
I think it is best (as suggested and as it is now) to have a low-level API offering maximum flexibility (possibly at the cost of unease (?) of use) plus, on top of that, high-level API(s) covering most use cases. The current documentation also makes it very clear which one is which :+1:.

That being said, @almarklein 's suggestions should be easy to implement (unless I am missing something):
- `im

[2020-11-18 18:48] FirefoxMetzger commented on #563
Not sure I follow. Do you mean the ability to subclass the "API object" and specialize it?

Either way, it is a nice idea to have multiple APIs depending on the use-case. I am a bit worried that this proliferation could lead to a long-term maintenance headache, especially if we need/want to change `imopen` in the future. This is not something we _have_ to worry about now though. Let's go with this

[2020-11-19 15:26] almarklein commented on #563
I meant that there is no longer an open reader object to wrap, so lazy loading is not possible (or very inefficient).

I was just composing a new issue, but as I wrote it, I felt an unease, because I was basically listing 4 API's: the imopen, the new imread, the array-like, and the current imageio API (for backwards compatibility). This is a bit ... overwhelming.

This leads me to the following:
*

[2020-11-19 15:30] almarklein opened #569 "Design for a new public API, take 2"
In #563 I made a first proposal for a new API. There were some interesting discussions, which have lead to some new insights, e.g. that we may be able to pull this off without the `mode` argument. Here's a the tweaked version.

The base API is similar to what I proposed earlier. It provides access to a plugin object, providing complete functionality in a concise way, and supports keeping the file

[2020-11-19 15:30] almarklein commented on #563
Let's continue in #569

[2020-11-19 15:30] #563 closed

[2020-11-19 16:36] nbro commented on #566
@almarklein Can you be more specific about the function I am supposed to use to upscale the image? I was trying to use [rescale](https://scikit-image.org/docs/dev/auto_examples/transform/plot_rescale.html), but it produces a black image. Check this code

[code]

Maybe you're already familiar with the library and know how to do it, so I wouldn't lose a lot of time trying to figure out what's wrong

[2020-11-19 20:22] #566 closed

[2020-11-19 20:30] pohlt commented on #568
Changing the well-establishes example images to non-square images would break a few things downstream, so I understand why you are reluctant do do this.
On the other hand: If someone relies on online resources to never change, they are asking for trouble. ;-)

[2020-11-20 11:12] FirefoxMetzger commented on #569
Two thoughts:

1. Would bumping the version major suffice instead of having to do a brand new library? At first glance, it seems possible to write wrapper code for both, the old API calling the new one (with deprecation warning), and the new API calling legacy plugins (not 100% sure on this one) and then successively update the codebase.

2. @lschr has proposed a sliceable API in #564 and the deci

[2020-11-20 22:40] almarklein commented on #569
I started writing a response with pro's and con's, but I'm starting to feel that the answer is: Yes.

The thing is, I mentioned that the fact that we're changing the behavior of `imread` is a problem for backwards compatibility. However, the current implementation of `imread()` can be considered broken, because it may sometimes not read all the available data. Unless I'm mistaken, the only cases w

[2020-11-24 14:58] hrieke opened #570 "_swf.py Attribution"
Hi,

You state that the file _swf.py is copied from visvis/vvmovy/images2swf.py
Do you mean:
https://github.com/almarklein/visvis/blob/master/vvmovie/images2swf.py

Thanks,

[2020-11-24 16:20] almarklein commented on #570
Yes, nice catch - thanks!

[2020-11-28 14:29] btlorch opened #571 "Saving high-quality JPEG ignores quality factor"
After storing an image in JPEG format with imageio's imwrite method and quality 100, I was surprised to see that the quantization table of the saved image did not match my expectations, i.e., I would have expected a quantization table with all 1s. This is also the quantization table that Pillow produces for quality 100. The quantization tables also differ for quality factors 96 through 99.
Could s

[2020-12-01 09:41] almarklein commented on #571
There is these lines:

https://github.com/imageio/imageio/blob/6d8a0b7b848dbf810910d11199294aed1ba3f255/imageio/plugins/pillow.py#L484-L488

These suggest that suggest that the max quality should be 95. Git blame tells me that I wrote that code, but I have no idea why the quality is limited like that, TBH. Maybe at the time Pillow behaved odd for those numbers?  I think we should just remove it. C

[2020-12-01 12:25] #571 closed

[2020-12-02 20:38] pohlt opened #575 "Cannot store certain PNG with transparency"
I recently loaded a PNG from Google and tried to save it using this code:
[code]
The `imsave` gives me an `OSError: cannot use transparency for this mode`.

After some investigation, I found out that `img._meta` contains a `transparency` key. If I delete it using `img._meta.clear()` I can save the image.

I'm attaching the PNG for reference: ![december-holidays-day-1-6753651837108829 5-s](https://

[2020-12-02 20:55] wnoise opened #576 "Impossible to write greyscale images with alpha channel."
This is currently enforced by [line 297 in imageio/core/functions](https://github.com/imageio/imageio/blob/4b3550ddedf99ecdfa71768d20a4a6251adcbabf/imageio/core/functions.py#L297).

I'm specifically interested in the case of PNGs.  Trying directly to talk to `Writer` objects via `get_writer(..., format='PNG-PIL')` (or `'PNG-FI'`) gets writers that similarly choke.

I don't know what freeimage actu

[2020-12-03 21:47] almarklein commented on #575
Thanks for the report Tom! Another case to take into account for the metadata stuff ...

[2020-12-03 21:49] almarklein commented on #576
Interesting. Yeah, we could add `2` to that list, and (reasonably) assume that's LA. May need some additional code to handle such cases correctly though.

[2020-12-10 15:15] ChinCity opened #578 "Imageio mimsave only writes gif when using the Debugger mode in Visual Studio Code"
When I run the code (below) using the green play button (run python file in terminal) in Visual Studio Code the script runs through fine with no problems, however it will not save the gif. If I run it in the debugger (Run and Debug) it outputs just fine.

What is happening here? Is very unusual. Also I am new to using Python in Visual Studio Code, I was using Spyder before.

Code:

    import glob

[2020-12-12 08:50] iverona opened #579 "Inaccurate frames per second on metadata"
imageio reports a FPS (frames per second) of 23.98 via `reader.get_meta_data()['fps']` when it actually is 23.976024 according to e.g. VLC.

Is there any way to get the full precision? Or any other recommended way to do frames to offset calculations with full precision?

Complete `reader.get_meta_data()` output:

```{'plugin': 'ffmpeg', 'nframes': inf, 'ffmpeg_version': '4.2.2 built with Apple cla

[2020-12-14 11:31] almarklein commented on #578
This does not look  like a problem with imageio. But what I suspect is going on is that when you hit the play button, it will run the code, but not "as a script", so that the value of `__name__` is not "__main__", and the code in that `if` is not executed.

[2020-12-14 11:31] #578 closed

[2020-12-14 11:33] almarklein commented on #579
That FPS value is indeed inaccurate. There is a way to get the accurate number of frames. Please have a look at this: https://imageio.readthedocs.io/en/stable/format_ffmpeg.html#ffmpeg

Other than that, imageio (nor imagio_ffmpeg) do not provide a more accurate way to provide the FPS at the moment.

[2020-12-14 11:33] #579 closed

[2020-12-14 14:52] ChinCity commented on #578
Thanks @almarklein, you are right. I executed the script from the command line and it worked. Do you know how I would execute fully from within visual studio code? Seems like an issue with the play button if it doesn't actually execute "main".

[2020-12-14 20:42] almarklein commented on #578
I'm not that familiar with VS Code, but I suspect that it's intentional. It basically copies the code and runs it in an existing interpreter, which has its own value for `__name__`.

[2020-12-17 00:35] oeway opened #580 "Build imageio without ctypes"
Hi, I would like use imageio in Pyodide but it has been currently disabled because of the issue related to `ctypes`. As I understand, an issue was encountered when building imageio as a dependency of scikit-image in Pyodide ([see here for the issue in the scikit-image PR](https://github.com/iodide-project/pyodide/pull/866#issuecomment-746021613)).

Can someone please take a look and see if we can

[2020-12-21 10:03] almarklein commented on #580
The freeimage plugin indeed uses ctypes. There already is a plan to move that to its own repository. But I'm not 100% sure whether there are other plugins that use ctypes.

[2020-12-27 13:54] yujmo commented on #168
imageio.core.format.CannotReadFrameError: Could not read frame

[2020-12-27 17:24] moccacup opened #581 "incorrect file recognition"
When using the imread method, I get an error that the file (JPEG format) is "not an FLI / FLC file".

The error only occurs if the data is transferred as a byte array and not if a file name is specified.
Likewise, the error does not occur if the file type is specified. (Detected by imghdr)

[code]

the detailed error message:

[code]
The reference File with the error
[code]

[2020-12-28 10:20] almarklein commented on #581
The plugin selection does not have enough info (no file extension), and selects the wrong plugin. In most cases, when you feed imageio with a file object or raw bytes, it's advisable to provide some help to select the correct plugin. E.g. `imageio.imread(data, format='jpg')`

[2020-12-28 10:20] #581 closed

[2021-01-02 14:00] quintendewilde opened #582 "Going from scipy to imageio"
Hi I'm running a slightly expensive aws... And trying to solve old scipy.imread to the new imagio.read standard.

In this file
https://github.com/ml5js/training-styletransfer/blob/master/src/utils.py

There is imresize how do I translate this into the new standard.

(there are several more errors showing up like mode should be pilmode?)

Secundary question is there an easy way to convert these fil

[2021-01-04 21:26] almarklein commented on #582
Imageio does not have support for image resizing, as it focuses on the IO only. The way to go would be to use skimage for that. Alternatively, if you know that all your images can be read by Pillow, you could chose to use that, because it does have some support for image manipulations like resizing.

[2021-01-04 21:27] almarklein commented on #582
I'm not sure what you mean here, to be honest :)

[2021-01-20 08:45] One-sixth opened #585 "When saving a 16bit png with all 0 values, it saves an 8bit image."
This should not be expected.
[code]
imageio.__version__ == '2.9.0'
windows10

[2021-01-20 14:52] kmilos commented on #585
The default PNG format ('PNG-PIL') assumes 8-bit without any configuration. You can create a new writer and set the 'bits' keyword:

https://imageio.readthedocs.io/en/stable/format_png-pil.html#png-pil

Alternatively use the 'PNG-FI' format once you have the freeimage library installed:

https://imageio.readthedocs.io/en/stable/format_png-fi.html#png-fi

[code]

[2021-01-20 15:05] One-sixth commented on #585
@kmilos Thank you. I know i need to set prefer_uint8=False now.

[2021-01-20 15:05] #585 closed

[2021-01-22 19:53] djhoese opened #586 "imread does not detect .tga format"
Example file: https://github.com/vispy/demo-data/raw/master/jfa/shape1.tga

Script:

[code]

Error:

[code]

If I specify `format='tga'` then it works fine.

[2021-01-25 08:31] HansHirse opened #587 "Implement sizes kwarg for Ico format"
According to the [ICO-PIL format documentation](https://imageio.readthedocs.io/en/stable/format_ico-pil.html#ico-pil), it should be possible to provide a list of `sizes` as an additional kwarg while saving. That doesn't seem to work.

Saving ICO files in general works:

[code]

The resulting `image.ico` has seven images (pages) with the mentioned sizes.

Trying to use the `sizes` kwarg fails:

[co

[2021-01-25 10:17] almarklein commented on #586
I can reproduce this, and traced it down to here:
https://github.com/imageio/imageio/blob/2ce79b91c5415dd3069be1050d979a5bfd4245e1/imageio/plugins/pillow.py#L100-L107

The `Image.OPEN[self.plugin_id]` returns a factory, but not an `accept` function (a function that can be given the first bytes to validate that it in fact a file that can be read). This is the case for 6 formats (on my current insta

[2021-01-25 10:32] almarklein commented on #587
These docs are copied from Pillow. In most cases this works out, but in this case the `sizes` attribute is indeed not yet implemented. We support most Pillow-supported formats via a single format class. To support special/common formats better, we have implemented specialized classes, e.g. for animated gif, png, and jpg. We should also add one for Ico.

[2021-01-25 12:47] djhoese commented on #586
I'm obviously not familiar with a lot (any) of this code, but shouldn't the extension on the file be a pretty hard rule? The extension is ".tga" so this must be a tga file. If that doesn't work are there really that many other plugins/readers that should be able to read the file?

[2021-01-25 14:37] almarklein commented on #586
The thing is that there could be other plugins that are capable of reading certain formats. By returning True, and assuming that it will be fine, we're denying such other plugins a chance. But yeah, in this specific case, we can probably define that Pillow should be the preferred plugin for tga ...

[2021-01-25 15:38] djhoese commented on #586
Understood. So this `can_read()` can be true or false right now, right? If this returns `True` for a reader and it fails to read it, is the file then passed on to another format? If you add a "maybe" third option, how would that differ from `True` with error handling?

[2021-01-26 08:48] almarklein commented on #586
No, the format selection takes place first, after which the selected format is used to do the io. This is more deterministic. If we'd try one and move to another if that fails, we are wasting time for every operation, and the user would not be aware. Worst case we'd be hiding errors.

I think the formats that return maybe would move to the end of the list, so they'd be tried if there is no other f

[2021-01-26 12:57] djhoese commented on #586
Hm ok, so like an order or "confidence" in the operation. That makes sense I guess.

[2021-02-01 14:45] almarklein opened #589 "Move CI to GH actions"
Somehow the Travis PR integration is broken (for some time now). We should move to GH actions anyway because Travis crippled the plan for OSS projects.

I was about to work on this, and then I saw imageio's download stats (2M per month), and my motivation was gone. I have put so much work in this project over the years already. At this point I'm not really a user myself, so why would I put more en

[2021-02-12 13:28] #586 closed

[2021-02-12 15:05] almarklein commented on #502
@FirefoxMetzger Back when this was discussed I think we concluded that putting all metadata in the same (flat) dict would not be ideal, because of potential name-clashes (which can be avoided by using a prefix, but *yuk* ). If all non-standard fields are in a separate dict, the user can discard all of it very easily. This discussion is very much open.

For your current PR, just go with *anything*,

[2021-02-12 21:58] FirefoxMetzger commented on #589
🤷 I don't know. For me, 2 million per month sounds like a decent number; if I had a blog with this many page-views, I'd probably just spend all day coding and writing posts xD

Thoughts on increasing popularity: One thing that is on the roadmap is to have `skimage` wrap `imageio`, which could increase usage. Matplotlib's imread reads png natively and forwards the rest to pillow. We could ask if th

[2021-02-12 22:51] almarklein commented on #589
I did not mean that I find that number low. I do feel like it's a huge number, even with the knowlegde that most of these are CI builds :)  It's more that it makes me feel some sort of "lonely". There are so many projects/ppl using it, and yet I am the one doing the "dirty work", even though I'm not an actual user myself. Can't blame anyone though.

I don't want to sound like a grumpy old man, but

[2021-02-13 11:34] FirefoxMetzger commented on #589
Sounds like Price's law to me; only a hand full of people do the majority of the productive work in any organization. It's the same over at skimage; you see the same names appear again and again. It seems that you are in that minority and provably productive :D

On a more serious note: I understand your frustration; especially if your interests have shifted away from image processing. Maintaining

[2021-02-15 15:14] almarklein commented on #589
Thanks! Some help will be appreciated, and your work on the new API means a lot. I hope that in/after that process we can spin some format out into their own repository, so it's easier to maintain the core of imageio, and also easier for others to take responsibility of some of these plugins.

[2021-02-16 08:44] FirefoxMetzger commented on #589
Interesting suggestion. I can see the charm in having a smaller code-base resulting, as it, in turn, reduces the time needed for active maintenance of the core repo. It also makes it easier to subscribe to issues that are related to just that one plugin.

Were we to have a really big community that is so big that it becomes hard to coordinate I would totally agree that splitting off plugins may be

[2021-02-17 12:17] kshru9 opened #597 "ModuleNotFoundError: No module named 'PIL'"
I was trying to make a gif using some images by the help following code: [](https://github.com/akcgjc007/k-means-clustering/blob/master/draw.py)

I have installed pil library in my windows desktop, still it was throwing following error.

File "gifmaker.py", line 13, in <module>
    imageio.mimsave(cur_dir+'/gifs/'+'sc.gif', images, duration=0.5)
    writer = get_writer(uri, format, "I", **kwargs)

[2021-02-17 12:46] almarklein commented on #597
Odd. Anyway, the general way to install it is `pip install pillow`, please give that a try.

[2021-02-18 09:18] ShrutiKatpara commented on #597
![image](https://user-images.githubusercontent.com/45987734/108334714-3af69a00-71f8-11eb-97d8-ca27d4cee282.png)

![image](https://user-images.githubusercontent.com/45987734/108334775-4cd83d00-71f8-11eb-9590-563b27d1e0c5.png)

I have used following code: https://github.com/akcgjc007/k-means-clustering/blob/master/draw.py

[2021-02-18 09:28] almarklein commented on #597
mmm ... perhaps the `pil` command is for another Python interpreter? What happens if you run `python -m pip install pillow`?

[2021-02-18 09:53] FirefoxMetzger commented on #597
what @almarklein said.

Also what would be helpful in debugging this is the output of the following commands:
[code]
(assuming you re using powershell)

[2021-02-18 10:00] almarklein opened #598 "Multi-image write (for SWF) does not work for pypy"
See `test_reading_saving()` in `tests/test_swf.py`. We should check whether we have other tests with e.g. GIF to see whether this is specific to SWF or generally for multiple images.

FWIW, SWF (ShockWave flash) is really out of fashion since most browser don't support Flash anymore ...

[2021-02-18 14:33] FirefoxMetzger opened #599 "Plugin Re-Organization"
We brought the reorganization up in #595 and I decided to make this a dedicated issue to allow discussing it in a central place. The aim of this issue is to converge on how to go about doing this.

@almarklein suggested outsourcing some of the plugins that `imageio` currently offers into separate repositories. The motivation behind this is - as far as I understand - (1) remaining/becoming a pure p

[2021-02-21 07:50] danijar opened #600 "Reading GIF returns no color channels axes"
I think imageio sometimes does not read compressed GIFs correctly.

I would expect the output of `imageio.mimread('animation.gif')` to always return an array with four axes for time, width, height, and channels. However, some of the GIFs I'm trying to process return an array with only three dimensions.

This can be reproduced with [this example GIF](https://user-images.githubusercontent.com/211129

[2021-02-21 11:04] FirefoxMetzger commented on #600
By default, we aim to return the raw pixel value stored in the file whenever possible; we don't want to make assumptions about how you will use the image and RGB isn't always the correct choice. For `.gif` - a palleted format - this translates into returning the pallet values stored in the file.

`.gif` uses `pillow` as a backend, so you could normally specify `pilmode="RGB"`, have the pallet valu

[2021-02-22 07:47] danijar commented on #600
Thanks a lot! I'm using the manual fix for now and will update `imageio` once it's merged.

[2021-02-22 10:42] almarklein commented on #599
I agree that dividing the code over too many repositories will be counterproductive. The decision to move a plugin (or a set of plugins) to its own project should be based on a few factors:

* Does it help keep imageio itself easier to maintain (i.e. pure Python)? This was e.g. the case for imageio-ffmpeg, which comes with a platform-dependent binary. The imageio-ffmpeg project has special CI and

[2021-02-22 14:14] FirefoxMetzger opened #602 "Add RTD builds for PRs"
Read the docs offers to build documentation for each PR: https://docs.readthedocs.io/en/stable/pull-requests.html

It would be nice if we could have that, to check the styling of the docs before merging them. Currently, docs are tested via the GH Actions CI (build test, no styling). This will likely have to be modified and we may be able to remove this test from GH Actions in favor of using RTD.

[2021-02-22 19:11] FirefoxMetzger opened #603 "Add codecov to the repo"
The title says it all. It would be very beneficial if we could upload coverage logs after the test(s) to codecov to get coverage reports.

[2021-02-22 19:41] FirefoxMetzger commented on #599
Afaik, for `imageio-ffmpeg` we are essentially maintaining the repo and I would assume the same will be true for any other plugin that we outsource. I totally agree that platform-dependent libraries can be a pain to deal with. I don't know, looking at it I don't see how we save any work by outsourcing. Could you elaborate?

We have multi-platform CI in the main repo now as well :) On the same toke

[2021-02-23 13:48] almarklein commented on #599
imageio-ffmpeg requires a different release procedure. Because it's a different library, it can have a separate release cycle, and this makes things a lot easier. Things are just a lot simpler when it's pure Python. Also the ffmpeg plugin comes with its own kind of problems, that are just easier to manage this way.

Maybe, but maybe not so much for new plugins that others contribute in the first p

[2021-02-23 13:49] #600 closed

[2021-02-27 03:37] Skylion007 opened #604 "Support WebP Animations"
WebP can support animations too (ie multiple frames). FFMPEG can generate these, but I am unsure how to add this PR since WebP is already supported for single images. What would be the best way to add this functionality? Would just adding webp to the support ffmpeg extensions solve the issue?

[2021-02-27 10:32] FirefoxMetzger commented on #604
It's actually already possible to write `webp` in `imageio` if you manually select the plugin. Here is my tinker in the new API (#574 ):

[code]

which translates to the current (v2.9) API as something like

[code]

This works, because specifying a `format=` skips the search for a compatible plugin and instead assumes that the user-specified plugin can handle the format. If you want to add "native

[2021-03-01 11:07] almarklein commented on #604
Shouldn't this work?
[code]

[2021-03-02 10:32] FirefoxMetzger commented on #604
Good catch. You can definitely use `mimread` as a one-liner for writing. I guess it should then have the image as second argument, i.e.,

[code]

My question was about reading, because `codec` is currently not a supported argument for `mimread` with `imageio-ffmpeg`.

[2021-03-04 14:31] FirefoxMetzger commented on #589
I am closing this issue, because #595 has been merged. I'm happy to continue the discussion, if we want to continue on the other topics brought up here.

[2021-03-04 14:31] #589 closed

[2021-03-07 10:45] FirefoxMetzger commented on #602
@almarklein How can I get access to the administration side of RTD? I'd like to enable doc builds after every pull request.

[2021-03-08 12:57] almarklein commented on #602
Done! I used the same username as your GH handle.

[2021-03-08 13:37] #603 closed

[2021-03-08 14:08] FirefoxMetzger commented on #602
@almarklein Perfect, thanks. I'll have a go at it the next time I get some free time to work on `imageio`.

[2021-03-14 07:26] FirefoxMetzger commented on #509
Since this issue won't be fixed, I will close it. If there is a more specific use-case about this in the future, I'll be happy to discuss it in a new issue.

[2021-03-14 07:26] #509 closed

[2021-03-14 18:02] FirefoxMetzger opened #610 "Wrap python av"
[av](https://pyav.org/docs/develop/#) is a python library that wraps ffmpeg and aims to provide pythonic access to it. It apprears quite similar to our `imageio-ffmpeg`, so it could be useful to create a wrapper for it instead of maintaining our own wrapper.

Of course, both could exist in parallel instead of being a replacement.

[2021-03-15 07:00] FirefoxMetzger commented on #598
@almarklein Could you be more specific on what is broken? Currently CI tests are running for pypy3.6 and pypy3.7. Both are passing. I don't have time to drill into this, but if you could create an MWE, I might be able to find room to implement a fix.

On that note, we may wish to update (or remove) the banner for pypy2, since we also no longer support cpython 2.7

[2021-03-15 22:12] #602 closed

[2021-03-15 22:16] almarklein commented on #610
One of the main reasons for building imagio-ffmpeg instead of using pyav was that pyav was not trivial to install. It looks like this has changed.

[2021-03-15 22:17] #570 closed

[2021-03-15 22:19] almarklein commented on #598
The test that fails has been disabled :) https://github.com/imageio/imageio/blob/master/tests/test_swf.py#L77-L80

What's a MWE?

[2021-03-16 04:47] FirefoxMetzger commented on #598
Ah, cool. Then I can take a look once I have a bit more free time.

A minimally working example (to reproduce the problem).

[2021-03-20 10:51] notsuraj opened #612 "Frame is 0 bytes, but expected 691200."
`
import torch

import cv2
from data import BaseTransform, VOC_CLASSES as labelmap
from ssd import build_ssd
import imageio

def detect(frame, net, transform):
    height, width = frame.shape[:2]
    frame_t = transform(frame)[0]
    x = torch.from_numpy(frame_t).permute(2, 0, 1)
    # PyTorch 1.5.1
    # x = Variable(x.unsqueeze(0))
    # y = net(x)
    x = x.unsqueeze(0)
    with torch.no_grad()

[2021-03-20 11:06] FirefoxMetzger commented on #612
The runtime error states that the frame you are trying to write `frame` contains 0 bytes, whereas it should contain 691200 bytes (a full image). This means that - at some point in your pipeline - you are dropping the frame. Where exactly that is, I can not say from the error, as you didn't include a stacktrace.

[2021-03-20 19:51] geyang opened #613 "RuntimeError: No ffmpeg exe could be found. Install ffmpeg on your system, or set the IMAGEIO_FFMPEG_EXE environment variable."
I realized that the `imageio-ffmpeg` repo's issue page might be a better venue. I have since posted this issue there. Closing this one now.

https://github.com/imageio/imageio-ffmpeg/issues/48

-------

Just regular call to `imageio`, and it works during the same runtime. But suddenly, this stops working and gives the following error:

[code]

#### Actual Behavior

This is not the first time it is

[2021-03-20 19:54] #613 closed

[2021-03-30 21:00] FirefoxMetzger commented on #537
@carpemonf Is this still a problem for you, or did you manage to solve the issue?

If your goal is to simply pipe the video into another program while it is being generated, then using a socket as an endpoint instead of a file will be much faster. You can check the ffmpeg protocols documentation [here](https://ffmpeg.org/ffmpeg-protocols.html) and see if any of the formats are supported by your do

[2021-03-31 03:27] FirefoxMetzger commented on #612
@notsuraj Did you manage to solve your problem?

Since this issue has been stale for a while I will close it in a few days if it remains this way. If the issue still exists, feel free to comment and I will reopen it.

[2021-03-31 03:31] FirefoxMetzger commented on #597
@kshru9 Did you manage to solve your problem?

This issue has been stale for a while; I will close it in the next few days if it remains this way. If it is still an issue, please let me know and I am happy to reopen.

[2021-03-31 20:50] FirefoxMetzger opened #616 "Replace request.SeekableFileObject with a mmap-ed buffer"
I've noticed that for some of the input types we perform manual buffering via (`SeekableFileObject`). One problem that I can see in the current implementation is that there the buffer is purely kept in memory, which may be undesirable behavior for *very* large files.

I was wondering if buffering inside a memory-mapped container - based on `mmap` and using a `tmpfile` -  could be a more efficient

[2021-04-02 08:56] almarklein commented on #616
No, this has not been attempted or explored. Sounds like something that could work!

[2021-04-02 09:26] FirefoxMetzger opened #618 "Reading into zip files doesn't support windows-style paths"
On Windows all of these variants work:

[code]

but this:

[code]

fails with `KeyError`.

<details>
<summary>Stacktrace</summary>

[code]

</details>

Essentially, windows-style paths inside the zip-file portion of the file don't work. My preferred way of resolving this is to migrate to using `pathlib.Path` objects to describe the paths. This will take care of any OS differences (and more).

---

[2021-04-02 10:00] FirefoxMetzger commented on #618
Liking this issue here for reference: https://github.com/imageio/imageio/issues/548

[2021-04-02 12:00] FirefoxMetzger opened #619 "Iteration/Volume support for paths"
The current API offers `mimread/mvolread` and the new API will offer `iter` as ways to read multiple images from containers that store more than a single image.

I was wondering if it would make sense to expand this functionality to paths and treat them as a container, i.e., `mimread("some/path")` will return a list of all the images inside the given path. Whether or not this should be recursive w

[2021-04-03 10:44] #597 closed

[2021-04-03 10:45] #612 closed

[2021-04-03 13:05] FirefoxMetzger commented on #599
Linking my comment here for future reference. It proposes a high level structure for the library.

https://github.com/imageio/imageio/pull/574#issuecomment-808789326

Happy to take feedback on this here :)

[2021-04-03 13:10] FirefoxMetzger opened #621 "(generated) API docs"
One thing that I didn't find for the current API is documentation of the actual functions in the library. Are we generating it? If not, I think we should, since we already have some pretty reasonable docstrings for our functions.

[2021-04-06 14:09] almarklein commented on #618
Although initially enthusiastic, I've never become a fan of `pathlib`. If you want to go that route, be my guest, but IMO a well-placed `normpath` should also do the trick :)

That sounds reasonable. I did some brief googling to see if there is a common way to address files inside a zipfile, but there does not seem to be any.

We can though, right? We already detect whether the `something.zip` is

[2021-04-06 14:24] almarklein commented on #619
I feel this should not be in the scope of imageio. This is easily solved with `from fname in os.listdir(path): imagio.imread(fname)`. There are also potentially different plugins involved, which can all fail in their own way.

I can see the advantage, but still think it's out of scope. It's still a rather specific use-case which can become complex quickly. Let's avoid feature creep. I'd much rathe

[2021-04-06 14:26] almarklein commented on #621
We use Sphinx autodoc: https://github.com/imageio/imageio/blob/master/docs/userapi.rst

[2021-04-06 15:05] FirefoxMetzger commented on #618
Yep, it would. I'm just a lazy person that likes to be pampered, so if I can do `.suffix`, `.parent[1]`, `.name` without worrying about OS-specific quirks and weird paths users may come up with, I'll choose the easy way 😄

I haven't really seen another library with this feature, so I would be surprised if there is an actual standard.

Yes, we do, though this is expensive as we have to make an OS/f

[2021-04-06 15:14] FirefoxMetzger commented on #619
Fair enough. This would sound like a nice first issue; I'll update the tags.

This could make a great "good-first-issue". How come we don't have this label?

[2021-04-06 15:17] FirefoxMetzger commented on #621
I am blind 🤣  I noticed the sphinx builder but didn't see the actual function documentation being shown anywhere.

Do you think it makes sense to rename the "User API" section to "API Reference"? (since this is what I've been searching for)

[2021-04-06 20:31] DavidStirling opened #623 "Performance issues when loading some .tif files"
I have some 2k x 2k .tif files which I believe are compressed. I noticed that loading these with imageio was very slow.

On further investigation, specifying `format="TIFF-PIL"` with `imread` makes the file load almost instantly, so I believe this may be an issue with tifffile. In keeping with this, installing the latest version of tifffile via `pip` fixes the issue, though the plugin then also as

[2021-04-06 21:20] cgohlke commented on #623
The vendored version of tifffile in imageio uses a pure Python implementation of the LZW decompressor. The solution is to install tifffile and imagecodecs.

https://github.com/imageio/imageio/blob/23cdcf5e62aceb1a32ee37e529eb731612b98298/imageio/plugins/_tifffile.py#L8308-L8390

[2021-04-06 21:38] DavidStirling commented on #623
That makes sense, thanks for explaining. So is there no way to have imageio switch over to the PIL plugin if the incoming file is compressed and a user doesn't have the extra packages installed?

[2021-04-07 08:06] almarklein commented on #623
Imagio uses a plugin system, where a suitable plugin is automatically selected. Including rules like these would make that process much more complex. Tifffile has priority over Pillow for Tiff, because Pillow can only deal with a subset of Tiff. It could be that the vendored version of Tiffile will be removed in future versions, so users will automatically use the latest/faster version.

[2021-04-07 08:08] almarklein commented on #618
right, we can also deprecate the older use over time, so eventually the codebase would be cleaner too.

[2021-04-07 08:09] almarklein commented on #619
I jusr created that label and assigned it to this issue.

[2021-04-07 08:11] almarklein commented on #621
Sure. The reasoning was to distinguish between user-reference and developer docs (for e.g. plugin developers). But I have no objection to renaming things.

[2021-04-07 08:28] FirefoxMetzger commented on #623
The concern that I have with a warning here is that it may not be true for every user. I'm not a tifffile user, so I don't know for certain, but my guess is that there is a reason for imageio having a pure-python implementation in a place where tifffile has a dependency. Usually, this is to support as many platforms as possible (and sometimes to support pypy).

If this is the case, a user may end

[2021-04-09 00:24] DavidStirling commented on #623
Thanks very much for the information. In my own experience tifffile can read pretty much anything you'd commonly throw at it, and if it's only the vendored version that struggles to efficiently load some formats then preferring the packaged version seems like the obvious solution.

Agreed here, if the vendored version stays within imageio then perhaps it's just worth making a note somewhere in the

[2021-04-09 11:44] Conchylicultor opened #624 "prefer_uint8=False upcast uint8 to int16"
From: https://imageio.readthedocs.io/en/stable/format_png-pil.html

I would expect that `prefer_uint8=False` do not modify the dtype of the image. So save `np.uint8` images as `np.uint8`, and   save `np.uint16` images as `np.uint16`. However, setting this param save all images as `np.uint16`:

Reproductible example:

[code]
Output:
[code]
I find this behavior quite confusing.

[2021-04-09 15:38] FirefoxMetzger commented on #623
That would indeed be a nice and welcome addition. Would you like to submit a PR for this? @DavidStirling

That is a good question. Plugins are selected based on an ordered list that specifies the preference. After adding your own plugin I think it is added with the highest priority (not 100% sure), and then you can set your preferred order using `format.sort()` See:

https://github.com/imageio/ima

[2021-04-13 02:21] anthony-sarkis opened #626 "width/height appears to get swapped on imwrite"
[code]

![width height swapped on save](https://user-images.githubusercontent.com/18080164/114486595-0b925700-9bc3-11eb-962f-ce7beaf48aa4.PNG)

It prints the shape as `(4032, 1960, 3)`. This is the correct (height, width, channels). However then it proceeds to save it as width first.

Here's the image:
https://drive.google.com/file/d/1et_VG8UJfhG_hYM4NSd-FA26rQ3-yqzx/view?usp=sharing

[2021-04-13 06:37] FirefoxMetzger commented on #626
This is a known issue that comes from the image's metadata; in particular the orientation flag.

`in4.jpg` stores the pixels as a `(1960, 4032)` image on disk and sets the orientation flag to `6` (rotate 90 degrees and mirror). Imageio then loads the image and applies the orientation flag to the data so that you can use it as you would expect. When later saving the image the metadata is copied fro

[2021-04-13 06:43] FirefoxMetzger commented on #624
I saw this issue yesterday and gave it a day of thought. I'm actually not sure how to address it, i.e., if it would be a good idea to change the behavior, or if the keyword argument should be renamed. Mainly because I don't know which path will be more backward compatible.

@almarklein Do you have a good solution here?

[2021-04-13 16:14] anthony-sarkis commented on #626
Thank you very much for the detailed information!

[2021-04-13 16:14] #626 closed

[2021-04-15 08:09] almarklein commented on #624
I think the solution depends on whether we consider this behavior a bug. I would argue that it is. If you agree, we can simply change the behavior to stick to the dtype of the data (or closest to it).

[2021-04-15 17:16] FirefoxMetzger commented on #624
Sounds good. I guess the solution then is to update this function

https://github.com/imageio/imageio/blob/dc2d06b2358b6451164961b42a6d2f566fa5169e/imageio/plugins/pillow.py#L803

to handle `prefer_uint8=False` in a way that matches the expected behavior described by @Conchylicultor . This doesn't sound like a complicated change; I'll mark it as a good first issue.

@Conchylicultor would you be in

[2021-04-26 12:06] FirefoxMetzger commented on #623
Closed via #625 .

@DavidStirling If you think we could/should add additional items to properly address this issue, feel free to leave a comment, and I'll happily reopen the issue.

[2021-04-26 12:06] #623 closed

[2021-04-28 07:47] unite-deals opened #627 "get_meta_data has any attribute of audio ?"
HI!!
How to get_meta_data or any other way to get audio file and add it in the output video file via imageio ?

[2021-04-28 11:38] FirefoxMetzger commented on #627
This is a very good question; I have actually never tried adding audio to a video so don't know. @almarklein might be able to give you more information about this though.

[2021-05-02 15:46] irieger opened #628 "imageio.plugins.freeimage.download() downloads wrong architecture on Apple Silicon"
Hello,

I'm using python (3.9.2) on a Mac Mini M1 installed via conda as a native Apple Silicon/arm64 executable. When I install imageio and execute
[code]
The downloaded libfreeimage...dylib is for x64:
[code]

When executing, I don't get an error regarding the wrong architecture, but I can't open files like EXR which should require freeimage.

[2021-05-02 23:26] miketaormina commented on #501
I hope this isn't too esoteric of a use case and that this thread is an appropriate place for it.

I frequently read metadata from tif files (as OME-Tiff) that have been generated by the Micro-Manager microscope control software that is built on ImageJ. Because the `tifffile.py` package is quite efficient but poorly version controlled, I have taken to accessing certain parts of the metadata via Im

[2021-05-03 07:15] FirefoxMetzger commented on #501
I actually don't know. Maybe someone else has more insight :)

Sometimes there are bugs, then we fix them, then there are fewer bugs 🚀 😄
We have labels to keep track of plugin-specific issues, and you can find the one for tifffile here:
https://github.com/imageio/imageio/labels/plugin%3A%20tifffile

No, we are not developing the tifffile backend independently. The vendored version may have some di

[2021-05-05 12:31] Nik-Sch opened #629 "ffmpeg mp4 mimsave with io.BytesIO() raises FileNotFoundError"
[code]
raises the following error for me (`allImages` is `List[PIL.Image.Image]`):

[code]

When saving directly as file instead of to an BytesIO object works as expected and save with `format='gif', duration=1` also works as expected.

[2021-05-06 06:26] FirefoxMetzger commented on #629
Interesting. Do you have an example file we can use as input to reproduce this problem?

I will likely not have the time to look into this today nor tomorrow, but I should be able to take a closer look next week :)

[2021-05-06 06:36] FirefoxMetzger commented on #628
Disclaimer: Not a Mac user, so my Mac experience is limited.

The helper script that downloads freeimage (`imageio.plugins.freeimage.download()`) comes from a time before Apple used M1 (ARM-based) processors, so it likely doesn't account for this and simply assumes all Macs are x64. Indeed, our auxiliary repo that contains the binaries for download ([found here](https://github.com/imageio/imageio-

[2021-05-06 07:50] Nik-Sch commented on #629
Yes, sure, here is a MWE with the files I used :)
[code]

[2021-05-13 09:38] domef commented on #517
I have the same problem, sometimes i find the same kind of artifact.

[2021-05-14 10:47] FirefoxMetzger opened #631 "Depreciate or Upgrade Website"
On top of this GH and a RTD page, we have a website ([located here](https://imageio.github.io/)) which seems to not have aged too gracefully. I wonder if it is worth keeping around since it doesn't seem to provide any information on top of the GH's main `Readme.md`. If it is worth keeping around, I think we should update it and highlight what it adds to the GH and the RTD pages.

From my current u

[2021-05-14 14:32] FirefoxMetzger opened #632 "depreciate avbin label"
I've noticed that the `avbin` plugin isn't a part of the current plugin folder, but there is a label for it (assigned to this issue). The library doesn't seem to have been updated in quite a while (last commit 2 years ago). In addition, none of the formats in our docs mention that they use the avbin backend.

Is it okay to remove the label, or is there anything that still needs us to have it aroun

[2021-05-14 15:24] FirefoxMetzger opened #633 "Use-Case based lists of common formats/plugins"
A while back @almarklein and I were discussing that we want to separate imageio and its backends (pillow, tifffile, ffmpeg, ...). To keep things convenient, we mused about creating a curated list of extra dependencies that would be used to install backends for a specific subject area. For example `pip install imageio[microscopy]` would install all backends related to microscopy.

To get this proce

[2021-05-17 08:49] almarklein commented on #631
No, it's just not pretty because I am not a designer :P

Yeah, let's deprecate it and target RTD to be the main page.

[2021-05-17 08:50] almarklein commented on #632
Label removed.

[2021-05-17 08:50] #632 closed

[2021-05-17 08:53] almarklein commented on #633
I'm leaning towards making Pillow and tiffile standard dependencies, and making the freeimage plugin non-default. Otherwise this looks good to me. Nice work on the matrix spreadsheet :)

[2021-05-17 09:21] FirefoxMetzger commented on #631
Accounting for the fact that the initial style was created ~ 5-7 years ago, I think it was a quite good and functional design at that time. It's just that web design has massive turnover so it takes some dedication to always look "modern" and I don't think we currently have the capacity for that.

Done. The website looks like an (almost) 1:1 copy of our `Readme.md`; are you (@almarklein ) aware of

[2021-05-17 09:25] almarklein commented on #631
The website is even generated from the readme on GH, so we should be fine :)

[2021-05-17 09:26] almarklein commented on #631
I'll make the website redirect to RTD

[2021-05-17 09:34] FirefoxMetzger commented on #633
By *standard* dependencies you mean that they would be installed via `pip install imageio[common]`? I agree with pillow, since it is very popular and supports everyday formats. I'm not sure I understand tifffile; pillow already offers basic tif support which makes tifffile seem like a specialist backend.

If you are thinking about core dependencies (`pip install imageio`), I would install neither

[2021-05-18 08:32] kmilos commented on #633
I vote against narrow category naming like _microscopy_, higher bit depth and various compression TIFFs are used in **many** domains. Btw, `tifffile` will also happily read/interpret DNGs and some other TIFF-based photography raw files...

[2021-05-18 09:28] FirefoxMetzger commented on #633
Sure, any alternative suggestions?

You will always be able to get any backend combination you want via something line `pip install imageio[freeimage, tifffile, spe]`, that is if your platform supports the respective backends. You can also add backends via good old `pip install tifffile`, etc.

The added categories are pure QoL and I'm happy to update categories or category names. *Microscopy* wou

[2021-05-19 08:07] #631 closed

[2021-05-19 08:17] almarklein commented on #633
I think I meant core then. If `pip install imageio` installs only numpy, it would be nice and lean, but I think users would expect to be able to read common image files without any special installation trickery. So I'd definitely argue to include Pillow by default. Tifffile is more specialized indeed, but because it's a small/light dependency with quite broad use, I think it makes sense to include

[2021-05-19 11:32] FirefoxMetzger commented on #633
Hmm, maybe I am approaching this from a different (wrong?) angle. Here's my logic; please feel free to point out what I'm missing.

There are multiple use-cases we are trying to serve. One comes from end-users who want to use imageIO directly in their script (or jupyter notebook or w/e). Another use-case comes from developers who want to use imageIO as a dependency for their library or executable,

[2021-05-20 04:19] astrophysaxist opened #636 ""cannot find loader for this FITS file" error"
Hi, I was looking at the `imageio` module and I see that the FITS format is supposedly supported ([here](https://imageio.readthedocs.io/en/stable/formats.html)). But, I get an error when I try to use `imageio.get_reader()` on a file without the `format` keyword set to fits. So, I guess there's some mismatch in how `imagio` is trying to automatically determine the file type.

For a minimum reproduc

[2021-05-20 07:39] FirefoxMetzger commented on #636
Interesting finding. I can reproduce this behavior on my end as well (bare python 3.8)

What is happening is that ImageIO chooses `pillow` as a matching backend, because it claims that it can handle FITS. This later fails when pillow is asked to actually read the file (as can be seen in the stack trace); maybe due to a missing feature in pillow's FITS reader? - not sure.

I think the solution here

[2021-05-20 09:01] domef commented on #517
Actually I think it's a loading issue, if I open the same file with gimp there are no artifacts whereas the artifacts are present if I open it with imageio.

[2021-05-20 13:52] astrophysaxist commented on #636
@FirefoxMetzger thanks for the response. Sure I could help contribute to this change. I'd need a bit more context (where these changes have to occur, etc) to be of any use. But I'm open to that.

[2021-05-20 14:41] FirefoxMetzger commented on #636
Awesome!

Plugins live in the `imageio/plugins` folder, and are imported in [this `__init__.py`](https://github.com/imageio/imageio/blob/master/imageio/plugins/__init__.py). The order in which the different plugins are imported reflects the order of priority over plugins (with the most important one coming first). In other words, if multiple backends can potentially read a format, the one that is

[2021-05-20 18:33] astrophysaxist commented on #636
Hi @FirefoxMetzger , yes! That's exactly what I needed to know. I'll fork and get started on a feature branch, and check in if I have any questions.

[2021-05-21 13:37] astrophysaxist commented on #636
@FirefoxMetzger I got a branch working with the change to imageio/plugins/__init__.py and a new unit test. Which branch on imageio/imageio should I submit the pull request to? I wasn't sure if I should submit to the master branch or not.

[2021-05-21 13:56] FirefoxMetzger commented on #636
@astrophysaxist Awesomesauce! Yes, master is the correct branch.

In the description of your PR, could you please somewhere mention this issue via `Closes: #636`?

[2021-05-23 04:54] #636 closed

[2021-05-25 10:53] almarklein commented on #633
I see your point, and like your breakdown. However, I'm not convinced yet :)

I think I consider Pillow to be more reliable than you do. It has been pretty consistent in delivering working versions for all platforms on pypi. What pypy issues are you referring to? I remember #598 but that has nothing to do with Pillow.

Yes, we can document that ppl should use `pip install imageio[common]`, but man

[2021-05-25 16:57] FirefoxMetzger commented on #633
Fair point. How about we keep pillow for now with the plan to eventually make it optional and instead ship a dedicated reader for png (and jpg)? similar to what matplotlib is doing now.

Also, what about other backends like `tifffile`? Should they also be installed by default, or become optional?

[2021-05-27 21:48] antonialoytorrens opened #638 "Some tests fail when building in Alpine Linux (only ppc64le arch specific)"
See [here](http://paste.debian.net/1199118/).

It's quite strange, because it only fails building in this specific architectures, other ones build fine

[2021-05-28 05:33] FirefoxMetzger commented on #638
I took a quick look just now, but lack the time right now to drill into this deeper.

The offending test is the FFmpeg read/write test for MP4. We create a short video, write it to disk and read it back. This process is lossy, so we expect a certain level of noise/error to be introduced, but not too much. On your system, this writing exceeds the threshold and causes the test to fail.

Which versio

[2021-05-28 20:16] antonialoytorrens commented on #638
I'm using FFmpeg version 4.4.
Here's the complete output of `ffmpeg -version`: <br/>
ffmpeg version 4.4 Copyright (c) 2000-2021 the FFmpeg developers
built with gcc 10.2.1 (Alpine 10.2.1_git20210328) 20210328
configuration: --prefix=/usr --enable-avresample --enable-avfilter --enable-gnutls --enable-gpl --enable-libass --enable-libmp3lame --enable-libvorbis --enable-libvpx --enable-libxvid --enabl

[2021-05-31 08:41] almarklein commented on #633
That sounds fair. Note: PNG is relatively easy (well defined format, and Python has zlib compression), but I'm not sure how we can support jpg without something binary to rely on.

I think tifffile can be optional if that's what you prefer.

[2021-05-31 09:50] almarklein commented on #638
We could just up those margins ...

[2021-06-03 14:12] clbarnes commented on #633
I am personally a big fan of imageio as a unified interface; as thin as possible a wrapper around whatever image-loading library would throw its hat into the ring. In that case, keeping it light and trivial to install would be a goal. That said, it's not worth removing the most common of use cases, in case there are users not familiar with extras who would skim over an image IO library which can't

[2021-06-03 20:59] FirefoxMetzger commented on #633
@clbarnes I linked this issue in your PR, because - from how I understand it - the "formats" option that you are contributing matches the "all" option that we have up for discussion here.

I was wondering if you think adding options between _everything_ and _individual backends_ makes sense, and if so how they would look like.

---
Some off topic replies:

I remember discussing this with @almarkle

[2021-06-10 10:48] domef commented on #517
Using the flag specified in this issue https://github.com/imageio/imageio/issues/356 seems to solve the problem.

[2021-06-10 12:11] PaulStahr commented on #517
I added the flag to the example-code, resulting image still has artifacts, which now include different colors.
![test](https://user-images.githubusercontent.com/61540725/121522667-a1950300-c9f5-11eb-9fa2-98c40aac850f.png)

[2021-06-10 16:15] domef commented on #356
I've seen there are several flags for EXR format in `imageio.plugins.freeimage.IO_FLAGS`, is there any explanation of the meaning of these flags?

[2021-06-10 16:23] domef commented on #517
@PaulStahr I got similar problems when dealing with 3-channels images
![image](https://user-images.githubusercontent.com/38183728/121561554-e54d3400-ca18-11eb-898a-266628bbd50c.png)

[2021-06-10 19:31] devernay commented on #356
From the [freeimage documentation](https://freeimage.sourceforge.io/documentation.html):
<img width="588" alt="image" src="https://user-images.githubusercontent.com/3778071/121585607-a2269d00-c9e7-11eb-9143-3aabfcce6042.png">

[2021-06-10 23:03] domef commented on #356
Thank you @devernay , do you have any idea why using EXR_FLOAT is not recommended? I couldn't find any information in the documentation.

[2021-06-10 23:29] devernay commented on #356
I had bugs with imageio/freemage when writing 32-bit FP EXR on Linux, and I'm not the only one, see https://github.com/imageio/imageio/issues/517

here's an example where I wrote the same data as 32-bit TIFF and as EXR.
[code]

So either use TIFF, wait for the bug to be fixed, or write your EXR from Python with OpenCV (which supports RGB but not RGBA for EXR).

[2021-06-11 18:36] devernay commented on #356
This comment https://github.com/imageio/imageio/issues/517#issuecomment-657266692  also suggests using https://github.com/tvogels/pyexr

[2021-06-15 09:54] #569 closed

[2021-06-15 10:01] FirefoxMetzger opened #640 "Document the V3 API"
We need documentation beyond functional docs (we have those) that showcase the new API. This is for both the user-side and the plugin-writing side. Likely, it will also be useful to include some more high-level information on how the API is structured.

I recently upgraded the docs for one of my libraries to the pydata them and added some more sophisticated auto-generation for the API reference. I

[2021-06-15 10:05] FirefoxMetzger opened #641 "Smart searching of plugins by accounting for the file's extension."
To speed up plugin selection, it would be good to check the extension of a file and - based on this extension - try plugins that are known to support this extension first. This should - of course - not exclude plugins that are known to not support the given extension, because the file may be labeled wrongly; instead, we just want to try those last.

If this sounds like an interesting feature to wo

[2021-06-15 10:14] FirefoxMetzger opened #642 "Virtualize Request's file object"
While writing the new API, we noticed that passing a request object around may allow plugins to interact with each other, e.g., by closing the file or by seeking in it and not tidying up after themself. Unfortunately, a quick `seek(0)` before handing a request to a new plugin won't solve this. It breaks a few tests, but I didn't dig into the why.

Request also supports a `firstbytes` object, which

[2021-06-15 10:46] FirefoxMetzger opened #643 "How to best pass file ownership from imopen to a plugin?"
The basic idea behind the file-management of the new API is simple:

[code]

The file is opened by `imopen`, held by `img_file` during the context, and closed once the context manager exits. This works nicely.

A problem occurs when we use `imopen` outside a context manager:

[code]

In this case, the open file may not be cleaned up properly or could cause a dangling reference. How can we smooth t

[2021-06-15 10:54] FirefoxMetzger opened #644 "Roadmap to ImageIO v3"
With the basics of the new API in place, there are a few more things that need doing and then we can release a new version of imageio.

Here is a (loose) checklist. Please feel free to make additions:

- [x] Set up a CD pipeline (I've been thinking a lot about [semantic versioning 2.0.0](https://semver.org/)) Maybe it is worthwhile here?
- [x] Fix issue #640
- [x] Fix issue #643
- [x] Fix issue #6

[2021-06-15 11:32] clbarnes opened #645 "Plugin: HDF5 files for multivolumes"
Requires the h5py library. Also loads `.mat` files >= v7.3.

[2021-06-15 11:36] clbarnes opened #646 "Plugin: Zarr v2 for image/ multiimage/ volume/ multivolume"
Zarrs can be a single array or an HDF5-like hierarchy of arrays. Requires the `zarr` library: https://github.com/zarr-developers/zarr-python . Also gives access to N5 (a very similar format) for multi-image/ multi-volume.

Zarr is both an on-disk format (well... several actually) and, to some extent, an API specification for accessing any block-based storage. We probably only want to care about th

[2021-06-15 11:36] FirefoxMetzger commented on #645
Just to make sure I got this correctly, you are proposing a new plugin that has `h5py` as a backend? This would then add HDF5 support and .mat support (among others).

(there is already a way to read/write HDF5 via the `itk` plugin, if you happen to have that backend)

[2021-06-15 11:41] clbarnes opened #647 "Plugin: mat files"
mat files v4, v6, and v7-7.2 can be loaded by scipy (a heavy dependency for a small function but realistically anyone using mat files is probably using scipy already).

It gets tricky with mat files v7.3, which are just HDF5 files with an unhelpful extension. This should delegate to the itk/ hdf5 plugin but I'm not convinced of the most ergonomic way to handle this. Going forward, one would expect

[2021-06-15 11:47] clbarnes commented on #645
Yes, a plugin for HDF5 files (to take `.hdf5`, `.h5`, `.hdf` extensions, which are all bafflingly present in the wild) using h5py, although it could be factored around ITK instead (and/or PIL? which also seems to have some HDF5iness about it). My sense is that ITK is quite a heavy dependency for something like this, though, and PIL probably represents an atypical use case.

[2021-06-15 11:54] FirefoxMetzger commented on #645
I am not at all against adding h5py as a backend. I think it would be a very cool thing actually 🚀 .

Mainly asked to give this issue the correct tags.

[2021-06-15 12:01] clbarnes commented on #647
Ah, I had missed the independence of file extensions. In that case, yes, this can be a `mat_pre73` plugin which depends on scipy, to keep things explicit (documenting where newer mat file users should go), and an h5py-based hdf5 plugin can also document that it supports more recent mat files.

[2021-06-15 13:13] FirefoxMetzger commented on #647
No worries 👍 It's a new thing. We used to rely more heavily on extensions to tell us which plugin to choose. We updated this, because it seems more general to use them as hints instead.

[2021-06-17 00:37] J-Wall opened #649 "DOI for v2.9.0 lists version as v0.9.0"
I am about to cite imageio in a paper, and (unless I am missing something) I noticed that the version number listed on zenodo for imageio v2.9.0 (<https://doi.org/10.5281/zenodo.3931847>) lists the version as v0.9.0.

I think this can be fixed for this version by manually editing the metadata on zenodo, but I am not sure what the underlying cause of it is.

[2021-06-17 05:57] FirefoxMetzger commented on #649
I think the reason is the lack of automation that will publish the most recent version to zenodo.

That said, I don't have permissions to modify our page there, so we will have to wait for @almarklein to update it :)

[2021-06-17 09:04] #649 closed

[2021-06-17 09:06] FirefoxMetzger commented on #649
@J-Wall zenodo is updated. You can find it here: https://zenodo.org/record/4972048#.YMsQTGgzaHs

Thanks for reporting, and thanks for citing us :)

[2021-06-18 06:23] FirefoxMetzger commented on #599
Closing this in favor of https://github.com/imageio/imageio/issues/633 .

I've also added the linked high-level structure in #648 .

[2021-06-18 06:23] #599 closed

[2021-06-19 11:55] FirefoxMetzger commented on #582
@quintendewilde This issue has gone a bit stale. Has your problem been resolved?

If there is no further activity in the next couple of days I'll close this issue.

[2021-06-19 12:01] FirefoxMetzger commented on #562
@almarklein Since we have the new API now, would you think this question has been solved? If not, what is still missing?

[2021-06-19 12:09] FirefoxMetzger commented on #553
It looks like @anntzer found a solution to the problem. If somebody is willing to turn this into a PR, I would be happy to review it.

Bonus points, if you can also add a unit test for this issue :)

[2021-06-19 12:38] FirefoxMetzger commented on #360
@almarklein This issue makes me think of two things:

1. There is constant development of the GIF plugin over at pillow. I remember filing an issue for reading transparent pixels that has since been fixed; perhaps the writing has improved as well? In this case our new pillow plugin should be able to handle transparency in GIFs just fine. However, I can't really test this without a MWE.
2. The lega

[2021-06-21 09:09] almarklein commented on #562
Yeah, it looks like you've covered this for the most part! Just a few question when comparing the above with https://github.com/imageio/imageio/blob/master/imageio/plugins/pillow.py#L85

* The plugin does not yet advertise mode/extensions that it commonly supports. IIUC the plan is to add this in a later PR, as we make the plugin selection logic smarter, right?
* Is the `open()` function really ne

[2021-06-21 09:12] almarklein commented on #360
Yeah, it would be good to try rewriting it relying on Pillow more. Or via ffmpeg, which may even be easier.

[2021-06-21 10:01] FirefoxMetzger commented on #562
Yep, after I am done with #648 I will go and write the docs for the v3 API and with that some docs for the pillow plugin.

I am a bit undecided on the supported extensions/formats part. In theory it is _very_ good if we can provide that list; in practice, it is difficult to maintain, because are in constant motion which make our list backend-version dependent and quickly out-date it, too. My curre

[2021-06-21 18:42] xjcl commented on #360
For anyone curious, for [my use case](https://github.com/xjcl/hugbot/blob/3bdd2d334281bdc7f6e41881cb92031604758bbe/hugify.py#L154) I use a `PIL.Image` with the `append_images` option for writing GIF images with or without transparency. I still use `imageio` for loading the GIF images though.

[2021-06-22 05:14] FirefoxMetzger commented on #360
@xjcl That's interesting. As far as I understand, the issue here is related to writing GIF with our pillow wrapper, so if pillow now correctly supports writing GIF with transparency, it means that we should support this as well.

If not, this is a bug that we can easily track down and fix once somebody shares code that reproduces the broken behavior.

[2021-06-22 05:57] FirefoxMetzger opened #651 "Consistent type annotations across the library"
Some of the functions in our library have the correct annotation already, whereas some (more legacy) functions don't feature annotations yet. At the same time, there is a (pretty useful) trend to outsource annotations into a separate [`.pyi` file](https://www.python.org/dev/peps/pep-0484/#id44) (think C++ headers, but actually just annotations not declarations). It makes sense to follow this trend

[2021-06-22 05:58] FirefoxMetzger commented on #642
This one is related to #616 .

[2021-06-22 06:04] FirefoxMetzger commented on #62
@almarklein This is an old issue flagged as wontfix. Revisiting this after 5 years, do you think anything has changed regarding your decision? I.e., do we still think that not adding this is the best solution?

If so, I suggest we close this issue to stay organized :)

[2021-06-22 06:12] FirefoxMetzger commented on #41
I am closing this issue due to inactivity (for almost 8 years ⚰️ ) I think by now numpy and, in particular, the array format is such a widely supported API that having a numpy dependency is more of a strength than a hindrance.

If, for any reason, a numpy dependency still poses a problem feel free to leave a comment and we can re-open this issue or make a new one, depending on the type of issue.

[2021-06-22 06:12] #41 closed

[2021-06-22 06:19] FirefoxMetzger commented on #48
Closed in favor of #360 .

The original question for free-image, which doesn't support alpha/transparency in GIF, this issue has been identified as a won't fix. If there is a particular need to support transparent GIF via free-image, please create a new issue that can be titled and tagged appropriately.

[2021-06-22 06:19] #48 closed

[2021-06-22 06:25] FirefoxMetzger commented on #576
This _should_ be fixed by the new pillow plugin, since it respects all currently supported formats including LA. That said, I can't be sure without a MWE to test the behavior.

@wnoise Do you happen to still have the code snippet that produced the error? If so, would you mind sharing it? In this case, we can turn this into a regression unit-test so that it won't become a problem again in the futur

[2021-06-22 06:30] FirefoxMetzger commented on #642
Related: #413

[2021-06-22 06:36] FirefoxMetzger commented on #455
@hmaarrfk We have a unit test for pillow that tests the exif orientation tag written by ImageIO

https://github.com/imageio/imageio/blob/b4f186f22df4454030060fc0545cd53b85956c44/tests/test_pillow.py#L227-L260

It uses pillows EXIF class until there is some more concrete idea on how metadata can be handled consistently. Because of this, you might consider it more of a hack than a solution depending

[2021-06-22 07:16] almarklein commented on #651
How would the information in the .pyi file be used? Would you include new tools to validate stuff in CI for instance? Or can people using imageio benefit from them?

[2021-06-22 07:17] almarklein commented on #62
If Pillow stays a hard dependency the need for this is indeed quite low. Let's close.

[2021-06-22 07:17] #62 closed

[2021-06-22 07:29] almarklein commented on #562
Yeah, but I mean for this to work, the plugin class needs to advertise the extension that it (likely) supports. Perhaps we can use this data to generate that table you mentioned. Yes it's some maintenance to keep these data up-to-date, but I won't expect most backends to change their supported extensions much. Plus its probably not a big deal if we're a bit behind.

I meant the `.open()` method of

[2021-06-22 08:15] FirefoxMetzger commented on #651
It is primarily for consumers of ImageIO. With proper type annotations, you get a lot of help from a modern IDE; for example, it can more easily deduce the type of a variable and - for example in the case of classes - hint available methods. For example, I can do `instance: PillowPlugin = imopen(..., plugin="pillow")` and then my IDE will provide auto-completion for all the methods that PillowPlug

[2021-06-22 08:59] FirefoxMetzger commented on #562
Fair point. I didn't think very deeply about the discovery of extensions yet. Thinking about it now, we likely want to have a way to maintain priority for plugins irrespective of the order in which they are loaded. Plugins aren't aware of other plugins so this is something core needs to take care of. That said, a solution might be to have a mechanism for core to query a plugin regarding its suppor

[2021-06-22 09:22] almarklein commented on #562
I meant it as a way to not duplicate these efforts. If each plugin has something like:
[code]
Then this is what the plugin selection logic could use, and what we could maintain. Then generate the table from these. Maybe you meant that just also keeping track of a table is less effort than writing/maintaining the code to generate it? In which case you could be right.

[2021-06-22 09:24] almarklein commented on #562
Ok, let's see how it works out as we add more plugins. I might play with it and create a PR, but at the moment I am swamped.

[2021-06-22 09:36] FirefoxMetzger commented on #562
![image](https://user-images.githubusercontent.com/4402489/122901671-977ed880-d302-11eb-9142-b81312b0941f.png)

Yep, that's what I was thinking.

[2021-06-24 10:16] rggjan opened #652 "Feature request: Support mypy type checking?"
Would be great if imageio could be statically type checked with:
https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-type-hints-for-third-party-library

[2021-06-24 20:27] FirefoxMetzger commented on #652
Sounds very closely related to #651 . I absolutely agree that type annotations would be a great addition. Being able to statically check them would be even better.

The main reason this hasn't happened yet is lack of manpower. If you would like to contribute this @rggjan , I'm happy to help you navigate the library and to review the PR :)

[2021-06-24 20:42] FirefoxMetzger commented on #469
@clbarnes Is this a duplicate of #645 and #646 ?

[2021-06-24 20:44] FirefoxMetzger commented on #408
@almarklein THis appears to be related to an old CI pipeline that no longer exists. can we close this issue?

[2021-06-24 22:30] clbarnes commented on #469
Yes, a pre-duplicate! Separate issues is probably better, even if they all get done at the same time (when I eventually get round to it).

[2021-06-25 03:34] FirefoxMetzger commented on #469
@clbarnes I agree. I will close this issue here in favor of the others :)

[2021-06-25 03:34] #469 closed

[2021-06-27 05:53] FirefoxMetzger commented on #409
Closing this issue for lack of activity.

If somebody encounters this again, please feel free to open a new issue containing a MWE so that we can track the issue down and fix it :)

[2021-06-27 05:53] #409 closed

[2021-06-28 09:03] rggjan commented on #652
Thanks! Yes, I didn't find the other PR, they would probably nicely complement each other...

[2021-06-28 09:11] #408 closed

[2021-06-29 21:28] #582 closed

[2021-06-30 05:24] FirefoxMetzger commented on #562
@almarklein You mentioned two open points further up in the issue

- Is the open() function really necessary? If a plugin is successfully initialized, will the next step not always be to open the image?

I couldn't quite work out if they are fully resolved or not. Is everything clear? If not, what actions are needed to make it clear?

[2021-06-30 05:35] FirefoxMetzger commented on #541
Picking this up again, I am a bit confused by the URI `'s3://mybucket_folder/'`. `s3` is not a valid protocol for our requests, and I did some googling, but couldn't find any reference. All buckets seem to be referred to via `https://s3.Region ...` or `https://bucketName.s3. ...`.

@almarklein Do you happen to know what the `s3` protocol does and where it is documented? If not, I think there is no

[2021-06-30 05:36] #537 closed

[2021-06-30 05:39] #457 closed

[2021-06-30 05:43] FirefoxMetzger commented on #453
@almarklein There is no PR linked to this issue, but that doesn't mean that it didn't happen. Do you remember if this was resolved? If so, can we close the issue?

If not, it sounds like our new API will also take care of this, since it allows pillow-native `kwarg`s to be passed on. I think this should resolve the question, too, right? If not, I'd need some more details on what is missing so that

[2021-06-30 05:48] FirefoxMetzger commented on #414
Since we can't seem to reproduce this, I will close the issue for now. If somebody encounters this again please feel free to open a new issue. If you can add a snippet of code that demonstrates what is going wrong, even better :)

[2021-06-30 05:48] #414 closed

[2021-06-30 08:13] almarklein commented on #541
Might be that this AWS Sagemaker uses this url format. Regardless, I think we can indeed close this.

[2021-06-30 08:13] #541 closed

[2021-06-30 08:14] almarklein commented on #453
Closed by #456

[2021-06-30 08:14] #453 closed

[2021-06-30 08:25] almarklein commented on #562
Made #654 for `open()`. The other issue is something we'll work out when the plugin selection logic is made smarter.

[2021-06-30 08:26] #562 closed

[2021-07-01 14:07] martinResearch opened #655 "Loading 16bit png files fails with pillow 8.3"
Loading 16bit png files with pillow 8.3 broken in imagio 2.9.0

To reproduce:

python 3.8.6
numpy==1.19.3
imageio==2.9.0
pillow==8.3

This will fail in pillow 8.3 while it work with pillow 8.2

[code]
error message
[code]
while it  works using freeimage `im2 = imageio.imread('test.png', 'PNG-FI')`or using pillow 8.2

changing pillow.py from
`frame = np.array(frame, dtype=dtype)`
to
`frame = np.arr

[2021-07-01 21:31] FirefoxMetzger commented on #655
Yep, this is a bug in the pillow backend (as you have already pointed out).

My suggestion is to simply freeze the version to pillow < 8.3 for imageIO v2.9 instead of implementing a patch. I'm personally not a fan of patching upstream bugs downstream. Especially considering that pillow is quite actively developed, so a fix should come around quite quickly. We are also working towards v2.10 and by

[2021-07-02 11:37] PaulStahr commented on #517
As a workaround I currently use a combination of different library's, depending on the type. At least until now for all my use-cases it ran as expected. Still very ugly though.

[code]

[2021-07-04 10:17] FirefoxMetzger commented on #543
Does the same happen with `np.asarray`?

Regarding `np.asanyarray` I wouldn't be too concerned actually since it is all expected behavior. It is a niece function that exists to explicitly allow array sub-types like `dtype=object` (I think `MaskedArray` lives here, too). In the case of `object`, the array is essentially just some metadata and one (or many) pointers to `pyobject`s. In this case, the

[2021-07-05 07:52] almarklein commented on #655
I agree. We should revisit this once we're nearing v2.10.

[2021-07-05 07:53] #655 closed

[2021-07-05 08:16] almarklein commented on #543
I just tested `np.asarray` on a 32bit Python. I had to install a fresh version, and not I found that a `MemoryError` is raised also for `np.asanyarray`. So it looks like this has been fixed downstream (in either numpy or Pillow).

For the record: tested with Python 3.8.10, Numpy 1.21.0.

[2021-07-05 08:16] #543 closed

[2021-07-09 19:26] MaratZakirov commented on #353
Any chages?

[2021-07-10 09:43] FirefoxMetzger commented on #353
@MaratZakirov Yes and no. You are still responsible for choosing the FFMPEG version that you would like to use for read/write. We can't make that choice for you, because we want to remain unopinionated.

Regarding the docs, there is a doc PR I am currently working on (you can view the *preview* here: https://imageio--648.org.readthedocs.build/en/648/index.html). We can add a note to the FFMPEG plu

[2021-07-12 09:23] bsdphk opened #657 "Trivial docfix"
This is too trivial for me to bother going through the pull-request dance:

    Help on function imwrite in module imageio.core.functions:

    imwrite(uri, im, format=None, **kwargs)
        imwrite(uri, im, format=None, **kwargs)

        Write an image to the specified file.

        Parameters
        ----------
        uri : {str, pathlib.Path, file}
            The resource to write the imag

[2021-07-12 10:09] FirefoxMetzger commented on #657
Thanks for reporting

@almarklein I think we can fix this separately or add it into #648 .

PS: @bsdphk Thanks for using imageio :)

[2021-07-12 10:22] almarklein commented on #657
Yes, probably easiest to just add to #648.

@bsdphk for the record, I've found that trivial fixes like these can be done relatively easily via the the Github UI (no need to make a local clone and use the command-line).

[2021-07-12 10:36] FirefoxMetzger commented on #657
Will be fixed in #648 .

[2021-07-15 07:17] akshath opened #658 "Support for RTSP video source"
Is there a plan to support RTSP source like IP Cam?

More Info: https://en.wikipedia.org/wiki/Real_Time_Streaming_Protocol

In Open CV one can do it like this

import cv2
cap = cv2.VideoCapture("rtsp://username:pass@192.168.1.10:554/axis-media/media.amp")

[2021-07-15 07:25] FirefoxMetzger commented on #658
@akshath Have you checked imageio-ffmpeg? As far as I know, FFmpeg supports RSTP, so you should be able to read RSTP with imageio using the ffmpeg backend.

[2021-07-15 14:34] akshath commented on #658
Thank you .. that worked. Used ffmpeg-python to read frame. But was not able to use imageio-ffmpeg directly (is there an example of how to use it with rtsp?

For anyone looking on how to do it using ffmpeg-python:

<pre>
def read_frame_as_jpg(in_filename, frame_num):
    out, err = (
        ffmpeg
        .input(in_filename)
        .filter_('select', 'gte(n,{})'.format(frame_num))
        .outpu

[2021-07-16 08:26] almarklein commented on #658
Have a look at the `input_params` argument to imageio_ffmpeg.read_frames()`. I guess the filter params in the sample below should be passed that way (as ffmpeg cli args).

[2021-07-20 08:31] FirefoxMetzger commented on #644
@almarklein What are your thoughts about this library: https://github.com/semantic-release/semantic-release

Could it be useful for us to set up a CD pipeline?

[2021-07-20 09:27] almarklein commented on #644
At first glance my feeling is that the tool you mentioned is overkill, and the fact that it tries to determine how the version should be bumped based on commit messages seems like it might also work against us.

I am not against some form of automation, but since imageio is pure Python, the release procedure is already quite easy, so I would warn against overdoing it and thereby locking us into a

[2021-07-20 09:28] almarklein commented on #644
All this said, if that tool (or another) is easy to set up and does not have too much implications elsewhere, feel free to give it a spin.

[2021-07-20 10:42] FirefoxMetzger commented on #644
I have the same concerns; I'd like to remain lightweight and flexible. It could be that I am keen on some kind of framework, because I have much more experience with Dev than with Ops, so whenever I get to delegate Ops responsibility I'm happy. Perhaps that skews my view.

At the same time, I really like a lot of the core ideas they propose and started adopting some outside of using the tool. Most

[2021-07-21 08:10] almarklein commented on #644
Yeah, we should release more often. Automating some of it would make that easier. I'm not sure if automatically doing a release on each commit is necessary, but I guess you're right in that it might just make things easier. Semver is fine for me.

[2021-09-06 10:57] #353 closed

[2021-09-06 10:57] #621 closed

[2021-09-06 10:57] #546 closed

[2021-09-06 10:57] #619 closed

[2021-09-06 10:57] #657 closed

[2021-09-06 17:09] chaplinta opened #660 "Lossy conversion when trying to write 10bit grayscale movies (H264)"
Hi,

Apologies if this not the right place for this query.

I cannot seem to write a 10bit grayscale movie without bit depth conversion warnings.

My camera can use 10bit grayscale pixels and I so I get uint16 data from it, and I set my imagewriter's pixelformat='gray10le' (codec='h264'). But I get the following warning when calling append_data suggesting something is converting it to 8bit:

"Loss

[2021-09-06 19:16] FirefoxMetzger commented on #660
@chaplinta This is a fine place to ask :) Generally, it is easier (and typically a lot faster) if you can share a code snippet; bonus points if it can be executed by us locally.

That being said, are you sure mp4 can store images with a depth of 16-bit? The highest I am aware of is 12-bit, but I am not actively following it. [x264 HEVC](https://en.wikipedia.org/wiki/High_Efficiency_Video_Coding) a

[2021-09-07 10:01] chaplinta commented on #660
Thanks for your reply.

The use case is I use Basler cameras for scientific imaging & machine vision, and they support 10bit grayscale pixels. Up to now I had only used 8bit but wanted to try 10bit to see if it improved my application.

I think the issue (or my confusion) is that the data from the camera is 10bit but stored in 16bit because there is no 10bit type. When I pass 16 bit to the writer,

[2021-09-08 08:46] FirefoxMetzger commented on #644
@almarklein I can use the pillow vulnerability as another opportunity to lobby for a fully automated CD pipeline :laughing:

I have set one up over at [scikit-bot](https://github.com/FirefoxMetzger/scikit-bot/blob/main/.github/workflows/cd.yml) and I've been quite happy with it. There are a few tweaks (e.g. I would trigger it nightly instead of triggered by commit) and a better/neater changelog wo

[2021-09-12 10:20] FirefoxMetzger commented on #553
The ftp link shared by Ischr appears to be dead. For future reference, I found the SPE spec here, too: http://leonvv.me/SPE-3.0.pdf

I'll also attach it as a document to this post: [SPE-3.0.pdf](https://github.com/imageio/imageio/files/7149407/SPE-3.0.pdf)

[2021-09-13 09:40] almarklein commented on #644
Sure, if you want to have a go with that, I won't stop you ;)

[2021-09-13 12:24] larsoner opened #663 "DOC/BUG: Modernized docs lost information about formats?"
In the stable docs (from [this deleted line/file](https://github.com/imageio/imageio/pull/648/files#diff-4e110082654b8472d19076b2410d18e6bb42ef81d2cc53ee4e0a7eb54365085aL159)) there is this page that enumerated the formats that supported multiple images (amongst other things):

http://imageio.readthedocs.io/en/stable/formats.html#multiple-images

I don't see an equivalent in #648 / https://imageio

[2021-09-13 13:17] FirefoxMetzger commented on #663
The page on supported formats (https://imageio.readthedocs.io/en/latest/supported_formats.html) should hold that information; although the index has changed. The idea is that you are probably more interested in "I have an image in XYZ format, can imageio open it, and which plugin should I use?" (which is [this list](https://imageio.readthedocs.io/en/latest/supported_formats.html#known-formats) tha

[2021-09-13 14:35] FirefoxMetzger commented on #663
Ah, I see. If it is videos you're after I assume you are primarily interested in the video formats (aka. the imageio-ffmpeg/FFMPEG plugin)? I guess you already saw the list of FFMPEG formats at the bottom of the page; anything that is missing beyond that?

Technically, you could store the individual frames of a video using an image format that supports multiple images or as a folder with multiple

[2021-09-13 14:49] larsoner commented on #663
I didn't, but it looks like the list there is:

- avi, mkv, mov, mp4, mpeg, mpg, WEBCAM, webm, wmv

By contrast, the list on the stable page is much longer (copy-pasted here):

- TIFF - TIFF format
- GIF-PIL - Static and animated gif (Pillow)
- ICO-FI - Windows icon
- GIF-FI - Static and animated gif (FreeImage)
- FFMPEG - Many video formats and cameras (via ffmpeg)
- BSDF - Format based on the Bi

[2021-09-13 15:09] FirefoxMetzger opened #664 "DOC: Add missing FFMPEG formats"
The documentation of the FFMPEG plugin only lists a subset of all formats supported by FFMPEG (via imageio-ffmpeg). It would be a very welcome contribution if somebody could update the list of formats to those actually supported (ImageIO should support all the formats that FFMPEG supports).

The full list of formats is available here: https://ffmpeg.org/ffmpeg-formats.html (muxers are for writing,

[2021-09-13 16:05] FirefoxMetzger commented on #663
Yes; when I updated the docs, I moved the formats around without updating the latest formats supported by each plugin. FFMPEG supports _many_ more formats than what is listed here ([full list of muxers](https://ffmpeg.org/ffmpeg-formats.html#Muxers)), and as such imageIO should do the same assuming the codec is installed locally. If not, it's a bug and we should fix it.

GIF is one of those format

[2021-09-13 16:11] larsoner commented on #663
No good ideas here... I'll go ahead and close since I think my end of the issue is solved / clarified. If someone else needs some variant of the old list, hopefully they'll see and think about the points raised here (and you can reopen if need be). Thanks!

[2021-09-15 07:51] almarklein commented on #663
There's also the GIF via Pillow plugin (and SWF, but nobody uses flash anymore ;))

Anyway, I think the main point here is that the new docs have made it harder to distinguish between the purposes of the different plugins: single image, volumes, movies. This was previously implemented by grouping these together. Can't we bring that back somehow?

[2021-09-15 10:46] FirefoxMetzger commented on #663
Hmmm. Possibly, but it might require some thinking/discussing on how to do so in a good way.

My main problem with the old list is the above-mentioned confound between video and volume formats. At the same time, - and this is likely due to me being naive about it - I don't see that much utility in knowing which plugins do single frames, multiple frames, volumes, etc. The only time this might be re

[2021-09-16 09:53] almarklein commented on #663
Sorry, I did not intend this in a mean way. Overall there have been a lot of improvements, but this is a point were we've regressed a bit. I also meant formats, not plugins :)

Fair enough, we can have one group for volumes and one specifically for video.

I disagree here. If you want to store a video, or volume, it makes it *much* easier to navigate the docs in search of a suitable formats. It al

[2021-09-16 11:43] FirefoxMetzger commented on #663
Haha nono, I meant that I was being a bit mean by nit-picking on definitions/language (format/plugin/backend) instead of focussing on the actual problem at hand. Sorry for the confusion.

Okay, lets bring some form of multi-index back into the formats. My constraint here is that each format should be listed exactly once, i.e., the key should be unique.

The primary purpose of the page is to list a

[2021-09-20 08:40] almarklein commented on #663
Yes, +1 from me!

Nope. I don't think there is any categorization that will uniquely fit all formats. We just have to deal with that ;)

Ok, what we need, I think, is an (new / alternative) index page that shows the format names, categorized by usage, allowing some format names to appear twice. And when you click on a format, you get the details on that format. This last step can be done in a few

[2021-09-21 07:12] FirefoxMetzger commented on #663
I think I agree. In this case, I would leave an alphabetically sorted list (what we have now), so that we keep maintaining one central place that has a full list of all the formats. We can update the format to make it a little slimmer though.

What do you think of dropping the description for now and use a bullet list of the form:

- `extension` `(Full Name)[link-to-spec-if-known]`: `[plugin1](lin

[2021-09-22 07:47] almarklein commented on #663
That sound like it would work! We can later see how/if we want the description back in (e.g. only in the alphabetical list). But since there's a link to the spec/wiki page, that may not really be necessary.

[2021-10-12 03:17] lhao0301 commented on #387
In [opencv-4.5.3 documents](https://docs.opencv.org/4.5.3/d8/d6a/group__imgcodecs__flags.html#gga292d81be8d76901bff7988d18d2b42acad2548321c69ab9c0582fd51e75ace1d0), it seems that when IMWRITE_PNG_COMPRESSION is passed, the strategy is changed. In default, IMWRITE_PNG_COMPRESSION is 1 and the strategy is IMWRITE_PNG_STRATEGY_RLE, which is the best speed setting?

[2021-10-13 03:13] slerman12 opened #665 "'import imageio' on M1 MacBook with Python 3.9 causes "MemoryError" - installed with conda/pip"

[2021-10-13 04:31] slerman12 commented on #665
[code]

[2021-10-19 07:50] FirefoxMetzger opened #668 "Installing imageio with gdal option fails"
I'm in the process of putting together a CD pipeline for us, and I've noticed that

[code]

fails with a long stacktrace:

<details>
<summary>stacktrace</summary>

[code]

</details>

This makes me wonder if our unit tests actually cover GDAL or if we are missing something.

We also don't seem to have a label for gdal related issues. I'll create one :)

[2021-10-21 10:13] FirefoxMetzger opened #670 "Add kwargs `out` and `like` to pillow and ffmpeg."
Currently constructing ArrayLike objects (TensorFlow tensors, pytorch tensors, dask arrays, ...) filled with image data takes a process of the form:

[code]

This can cause slow-down in some cases; here are a few that come to mind:

- video processing: iterating videos will create a new `ndarray` for each frame (e.g., `iio.imiter("<video0>)`)
- deep learning: creating tensors from `ndarray` copies

[2021-11-01 10:00] almarklein commented on #643
This would typically close the file right there, because the object is never even stored in this scope.

You're right that this behavior is an implementation detail of the Python interpreter. But maybe this is ok? The same aplies to Python file objects; you have to use them with care.

I think we have three options:
1. Do open+close when instantiating and then again when reading. This feels like a

[2021-11-01 17:24] FirefoxMetzger commented on #643
@almarklein Okay then let's opt for a behavior that is similar to `open` in CPython and see if any pypy user runs into issues. I will add a warning to the `iio.imopen` docs to inform pypy users about this behavior.

[2021-11-02 08:57] almarklein commented on #643
What do you mean? Isn't the file only closed by `.close()`  and `__exit__()`?

[2021-11-02 09:04] almarklein commented on #643
Oh, I think I see what you mean. New style plugins don't inherit from anything, so they need to implement close, context-manager and __del__ ... mmm

[2021-11-02 09:30] FirefoxMetzger commented on #643
@almarklein Yes, because we made the deliberate decision to not have a base plugin class to inherit from. I remember adding it initially, but based on review suggestions I removed it later on.

[2021-11-02 09:52] almarklein commented on #643
Hehe. Maybe this'd change my opinion ... Adding this boilerplate code to all plugins seems like a shame.

[2021-11-02 09:52] almarklein commented on #643
What do you think?

[2021-11-02 10:49] FirefoxMetzger commented on #643
@almarklein I think a `Plugin` class could be nice, indeed. That way, we can avoid boilerplate, but also get some typing support, because `imopen` can now define `Plugin` as a return type.

[2021-11-03 04:03] One-sixth opened #674 "imageiov2.10.1. The imwrite will raise ValueError when filename include "#"."
Imageio V2.10.1
[code]
It will raise ValueError: Could not find a format to read the specified file in ImageMode.single_image mode.

But it will good. No raise.
[code]

[2021-11-03 04:46] FirefoxMetzger commented on #674
That's an interesting find @One-sixth . I tried to run your snippet on the master branch but did not encounter the exception:

[code]

How did you install imageio, and which plugins/backends are you using?

[2021-11-03 06:05] One-sixth commented on #674
System is win10 and ubuntu 20.
Python 3.9

I also tried to use the main branch, but the problem still exists.

This is my installation command.
[code]

This is the complete error stack on win10.
[code]

[2021-11-03 09:02] almarklein commented on #643
IIRC my main hesitance with a base `Plugin` class was this: I think it would be good if 3d party libraries *can* create plugins without subclassing something (i.e. define a plugin without having to actually import imageio). By not using subclassing ourselves, we guarantee that this works, but we can just as well guarantee this with a test. So yeah, let's do this :)

[2021-11-03 09:17] FirefoxMetzger commented on #643
An alternative maverick solution would be to simply copy-paste the base class (can I sell this as vendoring?) and subclass it or change it into the desired plugin. At the end of the day python is dynamically typed so it doesn't care if the object it returns actually is a subclass of `Plugin` or not. It will just hint that this to the IDE to provide auto-completion.

On a tangent: I would actually

[2021-11-03 09:19] almarklein commented on #674
I can reproduce the error. The cause this line, where we use `urlparse` on something that is not a url:

https://github.com/imageio/imageio/blob/51a8cd57cd2ea2722523206e61b617556c725f25/imageio/core/request.py#L245-L249

@FirefoxMetzger Also we should update this message to say "write" in this case :)

[2021-11-03 09:23] almarklein commented on #643
But then `isinstance` would not work. I guess my point is that we should not use `isinstance` on plugin objects, but rely on ducktyping instead.

[2021-11-03 09:31] FirefoxMetzger commented on #643
True. Do we actually use it anywhere? Maybe I am missing something. What I had in mind was to use it for a type annotation ala

[code]

so no actual enforcing that the plugin is indeed a subclass.

[2021-11-03 09:41] almarklein commented on #643
No, but maybe we should make sure that we don't with a test, so that it stays that way

[2021-11-03 09:46] FirefoxMetzger commented on #674
Strange. Why does it work for me? I'll need to investigate ...

This is what I was expecting when I first saw the issue. The call to `urlparse` itself is fine (I think), because it actually parses generic URI and we interpret the input as a URI (as far as I understand). The problem is that `#1.jpg`, when interpreted as a URI, is a fragment and not a path.

[code]

I can see two ways to fix this: (

[2021-11-03 18:24] hashb opened #676 "Webcams with ID over 10 are not supported by ffmpeg plugin"
https://github.com/imageio/imageio/blob/master/imageio/plugins/ffmpeg.py#L190 prevents ffmpeg to support reading webcams with id over 10

https://github.com/imageio/imageio/pull/675 uses regex to solve this

[2021-11-04 06:46] FirefoxMetzger commented on #676
Thanks for spotting and fixing this @hashb . I reviewed your PR and triggered the CI. We only miss a regression test, so I would expect to get this merged during this week :)

[2021-11-04 09:42] almarklein commented on #674
Well, we do call it a uri in some places, but if its a filename, then it's not a url. I suspect tat using urlparse may also break when the filename contains e.g. question marks. Characters like `?` and `#` in filenames are rare, but it seems silly if imageio would not support them.

In short, I think `urlparse` should only be used when we know its a url.

[2021-11-04 09:58] FirefoxMetzger commented on #674
Okay. How about something like this @almarklein ?

[code]

I'm a bit hesitant about completely tossing out `urlparse`, because the alternative (parsing URIs manually) seems much more error prone and less maintainable.

[2021-11-04 10:14] almarklein commented on #674
Yes, something like that should work! I agree that we should still use urlparse for urls.

Don't we know whether its a url in this part of the code?
[code]

Otherwise, lets avoid using private methods. Maybe:
[code]

[2021-11-04 10:45] FirefoxMetzger commented on #674
@almarklein I agree.

Looks like we found a solution for this and it doesn't seem too complicated to implement: Replace

https://github.com/imageio/imageio/blob/51a8cd57cd2ea2722523206e61b617556c725f25/imageio/core/request.py#L247

with the snippet @almarklein suggested:

[code]

and to define `SUPPORTED_SCHEMES` and write a regression test.

This is a good first issue and I'll flag it as such. @O

[2021-11-04 14:01] FirefoxMetzger opened #677 "FreeImage identifies images written via PPM-FI as PBM-FI."
I found a strange behavior in freeimage. When I write an image using `PPM-FI` then FreeImage identifies the written file as an image in PBM format instead of PPM format. Here is the snippet to show the failure

[code]

Are PPM and PBM equivalent on a file-level? The following suggests that they are likely very similar:

[code]

I have traced the source code for writing up to the point we hand the

[2021-11-04 14:56] One-sixth commented on #674
@FirefoxMetzger How about this method? It seems that there is no need to maintain a new constant.
Replace
[code]
To
[code]

[2021-11-04 15:34] FirefoxMetzger commented on #674
@One-sixth That works, too, although we would have to use `(URI_FILENAME, URI_ZIPPED)` to catch zip files as well.

[2021-11-04 20:31] #676 closed

[2021-11-05 06:46] FirefoxMetzger commented on #674
Actually, @One-sixth I like your suggestion the most. Would you like to implement it?

[2021-11-05 06:59] One-sixth commented on #674
@FirefoxMetzger Yes, I am interested. I will open a PR later.

[2021-11-05 09:37] almarklein commented on #677
This is the code path deeper in freeimage. You could see which step eventually sets `ftype`. It might be a bug in freeimage.
https://github.com/imageio/imageio/blob/e1226c751fb30196879620977d6f4072c45f8719/imageio/plugins/_freeimage.py#L584-L592

[2021-11-05 10:00] FirefoxMetzger commented on #677
@almarklein This could be indeed inside freeimage. We associate `ftype==14` in our wrapper here:

https://github.com/imageio/imageio/blob/e1226c751fb30196879620977d6f4072c45f8719/imageio/plugins/freeimage.py#L442

and this is what we eventually pass to freeimage when writing. However when we read the buffer here

https://github.com/imageio/imageio/blob/e1226c751fb30196879620977d6f4072c45f8719/imag

[2021-11-05 10:13] almarklein commented on #677
We could create a workaround. Something like if `FreeImage_GetFileTypeFromMemory` returns 7, also check the file extension.

[2021-11-05 10:17] FirefoxMetzger commented on #677
I'm currently doing this in my feature branch

[code]

which fixes the symptom. Not sure if we should go more low-level though. Does FreeImage have an issue tracker?

[2021-11-05 11:23] anntzer opened #679 ""Local" plugins"
I would like to be able to "locally" register a plugin, within a bounded context.  An example would be a library where I know, locally that I would be dealing with ".dat" / ".raw" files which actually have a certain binary format, so I want to register a plugin for these, but I don't want this plugin to affect the entire Python process (because ".dat"/".raw" could be anything, and I don't want to

[2021-11-05 11:37] #674 closed

[2021-11-05 13:23] FirefoxMetzger commented on #679
There is a chance that I don't fully understand your use-case yet, so my thoughts may not apply here.

First off, are we talking about old-school style plugins (imageio v2) or new style plugins (upcoming imageio v3)? The old style is [documented here](https://imageio.readthedocs.io/en/stable/development/plugins.html#what-is-a-plugin) and the new style is currently undocumented, but you can find an

[2021-11-05 13:42] anntzer commented on #679
Thanks for the extensive reply.

Re: new/old plugins: it doesn't really matter for me; I wrote the example code against the new API but I'm fine with whatever you prefer.

I am specifically considering the case of reading here (I guess the considerations are different when writing).  In my case, I have no real way of knowing whether a file was indeed produced by the camera (let's call it camera X)

[2021-11-05 14:08] FirefoxMetzger commented on #679
I like this idea. You can already skip the plugin manager and instantiate plugins directly via

[code]

However, I do agree that a one-liner would be cleaner:

[code]

The changes would essentially be to add an a branch here

https://github.com/imageio/imageio/blob/f3fa6318ebd6005ebf2361438795cfbf87e62f7c/imageio/core/imopen.py#L84-L95

update the function's signature (and docstring)

https://gith

[2021-11-05 14:20] anntzer commented on #679
I think that looks good, at least as a first step, to me.

[2021-11-05 14:41] FirefoxMetzger commented on #679
Awesome.

@almarklein Any objections to extending support of `plugin` in `imopen(..., plugin=...)` to allow plugin objects as input?

@anntzer Would you be interested in contributing this feature?

[2021-11-05 14:44] anntzer commented on #679
Not now, but I'll keep this somewhere in the back of my mind.

[2021-11-05 14:46] FirefoxMetzger commented on #432
@almarklein Old issue, but maybe we can address it soon™. Do you remember what you were thinking when you said that we can depreciate the binary download mechanism? How would installation of the wrapper library work?

[2021-11-05 15:28] FirefoxMetzger commented on #334
I think we can fix this soon™ (via #680 ).

If a user tries to read using `iio.imread(..., format="EXR-FI")` and FreeImage is not installed, it will ask the user to install FreeImage first.

For files that have the `.exr` extension this will still give a generic error, but we can discuss/look into if this should raise a warning or error that it could be read after installing FreeImage.

[2021-11-07 07:43] FirefoxMetzger commented on #334
Okay, this will get fixed in #680.

If no currently installed backend can fulfill the request we check the image resource for its extension. If it has an extension, we look up all plugins that are associated with this extension and check if they are installed. For each missing plugin, we inform the user in the error message that installing that plugin might resolve this error.

This should turn th

[2021-11-07 14:46] FirefoxMetzger commented on #360
The issue seems to be fixed by the v3 pillow plugin:

[code]

Writing transparent pixels:
![transparent](https://user-images.githubusercontent.com/4402489/140649555-d7a94b34-6cd3-4521-a9ae-eeda71a62b77.gif)

Writing without alpha channel:
![opaque](https://user-images.githubusercontent.com/4402489/140649629-4c37e8c9-0436-433f-8a8e-fbfdd8fe01c0.gif)

The white/beige marks in the gifs come from the

[2021-11-07 14:46] #360 closed

[2021-11-07 15:25] FirefoxMetzger commented on #575
Unfortunately, I can't reproduce this. If I run the snippet above the image gets downloaded and stored without any error and the result is transparent as desired.

@pohlt Could you try upgrading to the latest version of ImageIO and running this locally to see if it has been fixed? If it is, or if this is no longer an issue for you, I will go ahead and close this. Otherwise, please let me know so t

[2021-11-07 15:30] FirefoxMetzger commented on #604
@Skylion007 Do you happen to know where I can find an example WEBP image?

We can already read/write WEBP via FreeImage, and pillow should support this as well (in which case I can add a fast-path for it). The FFMPEG route would likely still require a bit more work; mainly because I only have surface-level knowledge about `imageio-ffmpeg`. I would like to test this first though before proposing an

[2021-11-07 15:47] pohlt commented on #575
I already forgot about this issue. Thanks for following up.

Ok, so I tried the same operations as described above and I see exactly the same behavior (and the fix still works).

Here's the full traceback:
[code]

My test setup:

[code]

When I delete the `transparency` key in `img._meta` I can store the image _and_ the image contains the correct transparency. When you (down)load the image, do you

[2021-11-07 16:29] FirefoxMetzger commented on #575
@pohlt Thanks for the fast response. I see what happened now. I was on a feature branch (#680 ) and the refactor there seems to fix this. My mistake for not noticing this.

Running from master, I can indeed reproduce the exception:

[code]

Considering that the PR branch does the right thing, the new (v3) pillow plugin should fix this. Indeed, I can get the desired image if I run

[code]

@pohlt W

[2021-11-07 17:05] pohlt commented on #575
@FirefoxMetzger Works for me. 👍🏼

OT: I'm surprised that `imageio.v3.imwrite("test2.png", img)` stores a broken image, but maybe that's expected.

[2021-11-07 18:56] FirefoxMetzger commented on #575
@pohlt Awesome, then we have a fix. I will have a think if this can easily be integrated into the current v2 API, or if it will simply fix itself as we transition into v3.

Yes this is expected since that call violates assumptions. V3 switches the default writing mode to `RGB`, because it's more popular than `RGBA`. The corruption happens when we call `PIL.Image.fromarray(img, mode=...)` with `mod

[2021-11-07 20:59] pohlt commented on #575
Thanks for the explanation. Makes sense.

And thanks a lot for this great package! 🙏

[2021-11-07 21:08] FirefoxMetzger commented on #387
Thought I'd share the current results on my machine. I match the compression level between the libraries and I also refactored to stop measuring the data loading as well:

[code]

<details>
<summary>Benchmark Code</summary>

[code]

</details>

writing PNGs is currently 66% slower than cv2, but JPEG writing is about 2.5x faster o.O Could anyone confirm these results?

[2021-11-08 07:59] FirefoxMetzger opened #681 "volread on tifffile produces the wrong shape"
This is a regression from 2.9.0 first shared by @mkcor in https://github.com/scikit-image/scikit-image/pull/5262.

Reproducing example:

[code]

It traces back to something that, at least to me, is unexpected behavior in v2.9.0. Calling `imageio.imread` on the above tiff (in either version of ImageIO) returns a single page of the file, not a single image. I.e.,

[code]

Consequentially, iterating

[2021-11-08 11:26] FirefoxMetzger commented on #681
@mkcor Hm, what would you expect the `channel_axis` to do when reading? Would it be the channel axis of the returned ndarray (swapped if needed), or a hint to the reader which axis represents the color space?

[2021-11-08 11:59] mkcor commented on #681
In this case, I was thinking of a hint to the reader, because apparently `imread` didn't pick that the second axis was part of the image... But I don't know the `imread` internals so maybe this is irrelevant; plus, the reader doesn't take care of any color space conversion or anything like this, so maybe it could/should be oblivious to which axis corresponds to channels in an image?

[2021-11-08 12:42] FirefoxMetzger commented on #681
@mkcor As far as I am aware most formats store channel-last. This includes TIFF, where a single page handles one binary, gray, palette, or (channel-last) RGB image. Because of this, a `channel_axis` hint wouldn't help with this case; unfortunately.

I think what is happening is that the TIFF here uses tiles (or some other metadata flag that I am not aware of) to inform the reader to rearrange the

[2021-11-08 13:54] mkcor commented on #681
Sure, it's an interpretation, that's why I don't even speak of *color* channels. Looking up this TIFF file's metadata:
[code]
They provide the information for the number of channels, but they call 'frames' (resp. 'images') what we call 'images' (resp. 'pages'): Are these fields used by imageio's readers?

[2021-11-08 16:08] FirefoxMetzger commented on #681
Oh, sorry @mkcor, I didn't mean that in a nit-picking or philosophical way. Rather in a "I think we kind of hack the TIFF spec to achieve this particular channel format" way. I'm not deeply familiar with TIFF, so I checked [Adobe's TIFF Spec](https://www.adobe.io/content/dam/udp/en/open/standards/tiff/TIFF6.pdf), and for colorspaces, they only mention binary, gray, palette, and RGB in the so-calle

[2021-11-08 19:04] mkcor commented on #681
Oh, me neither, sorry @FirefoxMetzger! Re-reading my reply, I realize that it could come off as defensive. :pray:

I'm not *that* familiar with TIFF files either, so I'm happy to try and clarify any possible aspect! More generally, I'm interested in the topic of (standardizing) image metadata; I'm also interested in *multichannel* images *in general*: for example, in our [data registry](https://gi

[2021-11-09 09:59] kmilos commented on #681
IMHO the TIFF spec pretty clear and flexible on this: you can have almost any number of samples (channels) per pixel you want, everything is handled through interplay and parsing of SamplesPerPixel (w/ BitsPerSample, which could all be different btw), ExtraSamples, and PhotometricInterpretation fields. For a 2-channel image you could possibly have

SamplesPerPixel = 2
BitsPerSample = 8 8, if that

[2021-11-09 14:17] FirefoxMetzger commented on #681
Thanks, @kmilos that's interesting. When I read the spec it only mentioned four different channel layouts and I understood that as those being the only supported ones for a strip. There are a few more mentioned in the TIFF Extensions section, but I didn't read up too much on those.

Do I understand it correctly though that changing `SamplesPerPixel` away from the default would make the TIFF applic

[2021-11-09 14:55] kmilos commented on #681
Correct. But this is also (end even more so) true with the completely arbitrary metadata scheme mentioned by @mkcor, which is even less "standard" and therefore impossible to support generally (you can whack whatever free from text you want in ImageDescription; no app would know what to look for and where, and shouldn't really rely on hacky schemes like this). TIFF extensions are at least implemen

[2021-11-09 15:44] FirefoxMetzger commented on #681
Huh, my bad. I somehow thought its the actual TIFF spec rather than a tech note on subIFDs. That's a pretty cool feature actually that I should start using. The more you know 💯

On that note, @almarklein I think it is time to deprecate ImageIO's vendored `tifffile` library. It doesn't support subIFDs, but the actual library has since added support for it. We prefer a pip install over our vendored

[2021-11-09 16:19] kmilos commented on #681
Nope, sorry :( It looks like that really is it for ImageJ files, see these tifffile comments:

https://github.com/cgohlke/tifffile/blob/0eadc15ca044429f8af70a59ae9cc5a3d54b18e2/tifffile/tifffile.py#L319-L323
https://github.com/cgohlke/tifffile/blob/0eadc15ca044429f8af70a59ae9cc5a3d54b18e2/tifffile/tifffile.py#L1134-L1143
https://github.com/cgohlke/tifffile/blob/0eadc15ca044429f8af70a59ae9cc5a3d54b

[2021-11-09 20:14] FirefoxMetzger commented on #681
Okay, I've implemented a fix that addresses the `volread` regression that @mkcor reported. If/once @mkcor gets permission to use the above image under CC0, I will uncomment the regression test and add the image to our test suite. Then we should be able to merge the fix.

---

I still have to look into the (v2) imread bug, but I will address that in a separate PR. I will have to think a bit more ab

[2021-11-10 09:31] FirefoxMetzger commented on #587
@HansHirse Could you verify if this problem still exists, or do you have the "image.png" you mentioned and can make it available so I can test this?

I think this may have been fixed in the process of me writing the v3 plugin for pillow. I tried the following:

[code]

It correctly forwards the `sizes` argument to pillow, and it does produce an ICO file. I do seem to lack introspection tools for I

[2021-11-10 10:34] FirefoxMetzger commented on #500
We saw the same issue while teaching labs this year. Interestingly enough, for the cases we did encounter, the issue traced back to people not installing python properly on MacOS. There is a (hard to spot) manual step involved in completing the installation: https://stackoverflow.com/questions/42098126/mac-osx-python-ssl-sslerror-ssl-certificate-verify-failed-certificate-verify/42098127#42098127

[2021-11-10 12:19] mkcor commented on #681
Hi @FirefoxMetzger,

Yes, absolutely! Thank you, @kmilos. This sentence I had to read a couple times:

Visible hyphenation helps understanding as you read (rather than afterwards):

:pray:

Didn't you mean "on *2 pages* instead of 3 pages?" We want to access either channel when manipulating the image. Ok, I guess you meant `(30, 180, 183)` or `(15, 2, 180, 183)` as opposed to `(30, 180, 183, 3)` o

[2021-11-10 19:32] FirefoxMetzger commented on #681
@mkcor No I actually meant `(15, 2, 180, 183, 3)`. To reconstruct a RGB palette image, you take the bitmap of channel indices (a `(180, 183)` array) and for each pixel in it, you look up the corresponding RGB value in a 256 color colormap (a `(256, 3)` array). In numpy fancy-index notation, this is something like `colormap[bitmap]` which gives you a `(180, 183, 3)` array. You have a total of 30 su

[2021-11-10 21:09] mkcor commented on #681
But your concluding sentence was "we can directly store the image on a *single* page *instead of* 3 pages." :confused:

As you reminded us earlier, ImageJ is a *de facto* standard in biomedical image analysis. :wink:

[2021-11-11 05:28] FirefoxMetzger commented on #681
Ah, @mkcor, I think we have different things in mind when we head the word *page*.  On the hard-drive / inside the TIFF file, a page is essentially a block of data + some metadata (in the form of a Image File Directory (IFD)). The IFD tells the reader how to make sense of of the data block, e.g., number of pixels per row/column, where in the file the data block starts, the colorspace to use (`Phot

[2021-11-11 21:15] FirefoxMetzger commented on #362
This is my week of necromancing issues, so I would like to pick up this meta-data discussion again and make a new proposal.

We do two modifications to the current plugin API:

1. We add a new property (called `descriptor`) to deal with standardized metadata.
2. We add a new kwarg called `remove_applied=False` to `get_meta`.

[code]

The new function returns a `ImageDescriptor` of the following fo

[2021-11-12 13:36] almarklein commented on #432
The idea is to make a new library (and corrsponding GH repo), something like "imageio-freeimage". This would provide the wrapper code (what now is `plugins/_freeimage.py`. It would put binary wheels on pypi that have the matching freeimage DLL's in them.

Then, for a user to enable freeimage support, she would just `pip install `imageio-freeimage`.

[2021-11-12 13:59] kmilos commented on #681
One thing to note: with the "TIFF trees" I guess one is limited to adding 2 extra axis only, while the ImageJ way, although "hacky" and standard-breaking, is indeed more flexible/powerful (they should've really just called it the ImageJ format, not TIFF).

[2021-11-12 14:22] #643 closed

[2021-11-12 15:21] almarklein commented on #334
Sounds good!

[2021-11-12 16:19] almarklein commented on #362
That sounds pretty neat. Earlier I was thinking in the direction of a single dict with subdicts that contained *all the info*. But I like how the data that you get with this is much more concise. I think the descriptor is what some functions in skimage could accept and use to change their behavior, and not the (format-specific) metadata. I wonder if we an come up with a nicer name for "descriptor"

[2021-11-12 17:35] FirefoxMetzger commented on #362
Sure, I am happy to discuss naming. (As long as it doesn't delay us by another 2 years 🤣 . Who would be the best person to annoy about this in skimage? @jni has been involved in this discussion before, but maybe that is now someone else's job?

I would actually make it a class (could be a dataclass, but doesn't have to be), because of the better ergonomics.

Type hinting and validation are really

[2021-11-13 21:32] almarklein commented on #362
Fair enough.

I think the line should be when the data could influence image processing functions. This is most definitely the case for spacing, so I veel strongly about including that. Maybe less so for origin and rotation. Their value could be instrumental in visualization, but I understand we need to draw a line *somewhere*.

I think this is a different discussion. ATM imageio (implicitly assum

[2021-11-14 08:01] FirefoxMetzger commented on #362
Done. Then we set `remove_applied=True` by default with the argument that Metadata hasn't been handled consistently before, and deviance from this behavior is considered a bug.

I think this is the only open point now, and it has been the main blocker previously, too. Maybe the solution here could be to start small to get the ball rolling, and to then see what we else we can standardize for all pl

[2021-11-15 10:28] almarklein commented on #362
+1

No. The sensible default is `(1, 1)` for 2D and `(1,1,1)` for 3D. But I think it also makes sense that unset optional fields are `None`.

Ha, good point. I guess `None` - there is not axis for channels.

What about something like this:
[code]

The required attributes don't have a default, so plugins are forced to provide these. The others are optional. We can also add more optional attributes

[2021-11-15 16:00] FirefoxMetzger commented on #362
If `spacing=(1,) * img.ndim` is a sensible and expected default here, I am happy to add it to the descriptor.

I'm also a bit worried about time series here, because spacing might not be trivial. What about a timelapse that uses a non-constant time axis? For example, microscopy pictures may be taken at 5 min, 30 min, 1 hour, 2 hours, 5 hours, 12 hours, and 24 hours, and may then be stacked into a

[2021-11-15 22:48] almarklein commented on #362
IMO time series data should be read with mimread or mvolread, so you get a list of arrays instead of a single packed array. I have found that to work much better during my PhD at least. But if there is a case where multiple frames are stacked into a single array, then the spacing very likely does not matter for the algorithms that you apply to it. Because if it does, it would imply that the algori

[2021-11-15 22:50] almarklein commented on #362
I was thinking about this, and I am not sure what this would look like:
[code]

[2021-11-16 04:42] FirefoxMetzger commented on #362
Not setting spacing means the user has to search for that info elsewhere. If a user tries to use `descriptor.spacing` it will simply `raise` and let him/her know that this doesn't work. Setting the spacing wrong will produce a result, but that result is not correct. Since there won't be an exception more novice users will likely accept the result without questioning it, which - to me - is worse th

[2021-11-16 05:25] jni commented on #362
Hello, zombie friends! 😂 🧟 Love rebooting this, thanks @FirefoxMetzger for kicking things off again!

My 2c on the above discussion:
- dataclass is good relative to dict. At napari we've been using pydantic Models for this with much success. I recommend it.
- spacing is 100% essential imho. Translation and rotation only slightly less so. For me, we should add these to the model and set them to Non

[2021-11-16 07:59] FirefoxMetzger commented on #362
Yep, I rely on them as well in my own projects. The problem is that pypy isn't too happy about them (which is why they haven't made it into ImageIO yet).

I assume both you (@jni) and @almarklein are coming from a strong microscopy-focused background? That would at least explain why you two value the `spacing` field so much, whereas I don't (ML and robotics background).

I'm no expert, but I don't

[2021-11-16 09:28] almarklein commented on #362
Medical imaging (e.g. CT, MRI). Anisotropic data is very common there. And being able to position multiple volumes correctly with respect to each other (origin, rotation) is also a common problem.

What do you mean with uneven spacing? In my comments I meant that the spacing value for the time-dimension does not matter (because its not a spatial dimension). If multiple arrays in a timeseries have

[2021-11-16 09:30] almarklein commented on #362
Mmm, I did not expect this. Not sure if I'm relieved or annoyed :)

I'll probably have time in December.

[2021-11-16 11:54] #681 closed

[2021-11-16 12:05] GenevieveBuckley commented on #681
I just ran into this as well, thanks for fixing it

[2021-11-16 12:09] FirefoxMetzger commented on #681
@GenevieveBuckley The fix should roll out to PyPI tonight.

[2021-11-16 13:17] jni commented on #362
I think people working with time series data might disagree that spacing in time doesn't matter??? It is critical e.g. when estimating velocities. I also think that it's important from an API standpoint to have spacing match the number of dimensions, ie spacing[i] should be the spacing for array dimension i. When we can't (e.g. channels), use None?

Yes, what I'm saying is something like:

[code]

[2021-11-16 20:07] HansHirse commented on #587
@FirefoxMetzger Indeed, this works very well! Nevertheless, I had to use plain `img` instead of `img[..., 0]` in the `imwrite` call. But, the resulting `image.ico` only holds two pages with the desired sizes. Thanks for the update on that!

I use IrfanView for fast and simple ICO introspection.

[2021-11-16 20:07] #587 closed

[2021-11-17 08:30] almarklein opened #684 "Support for freezing"
In a recent change, the plugins are imported dynamically. This poses a problem when freezing an app that contains imageio. See the discussion below.

_Originally posted by @almarklein in https://github.com/imageio/imageio/pull/680#discussion_r748429429_

We should probably:
* Make a note about this in the docs.
* For PyInstaller we can use its recent hook system. See wgpu-py for an example (links

[2021-11-17 08:46] almarklein commented on #362
Good point. I assumed that the unit of the values in `spacing` would be homogeneous. It did not occur to me that some could be spatial units (e.g. mm) and others could be temporal, or even something else. On that note, the channels could also have a relation that can be expressed with *some* spacing value!

[2021-11-17 08:56] almarklein commented on #362
Thinking about this more ... I wonder whether we should distinguish here. If I call a skimage function that takes spacing into account, then it will *very* likely assume that this spacing is spatial. Should we somehow take precautions for this situation? Or is it up to the user to provide a slice that only includes spatial dimensions?

This brings me to another point:
[code]

Looks like this bring

[2021-11-17 09:26] FirefoxMetzger opened #685 "Deprecate folder reading by DICOM"
The purpose of this issue is to discuss (and decide) if it is possible to deprecate DICOM's ability to read folders, or if we can find a backward-compatible way to change DICOM's behavior so that `Request` can stop accepting folder uris.

Currently, DICOM is the only plugin that accepts folders as inputs (which it will then process to read all files in it). However, our general policy is to not re

[2021-11-17 09:34] FirefoxMetzger opened #686 "make ffmpeg's can_read more sophisticated"
Details in https://github.com/imageio/imageio/pull/680#issuecomment-970142963

Currently, there is a discrepancy between what our FFmpeg plugin can actually read and what it claims it can read. It claims to be able to read less than it actually does. The cause of this is that `_can_read` makes a decision based on the file's extension alone instead of querying the file's metadata/header (e.g., via

[2021-11-17 10:47] FirefoxMetzger commented on #362
@jni Ah, so you are proposing a different idea from what we have been discussing so far? This looks like `Image` aims to lazy-load pixels using Dask (ImageIO using Dask for performance improvement), whereas I am saying that Dask can use ImageIO for performance improvement. I might misunderstand your intention though.

Dask needs cheap access to `shape`+`dtype` information (what we currently call `

[2021-11-17 11:34] jni commented on #362
Buyer beware, imho. :joy:

Yes, scikit-image will almost certainly continue to work with external parameters rather than an Image object. Here we would say eg `spacing=im[1, ...].spacing` as the second argument...?

This seems pointless? You already have my_object. Just do whatever you want to do with it once you've read into it? If you're worried that my `__init__` doesn't actually fill the buffe

[2021-11-17 13:35] almarklein commented on #362
8am-8:30 is getting-kids-breakfast-and-to-school time here. 10pm would work for me. Is that doable @FirefoxMetzger ?

[2021-11-17 13:37] almarklein commented on #362
I have always been under the impression that one of the goals of this whole metadata exercise was that skimage functions can consume the standardized metadata that comes with an image.

[2021-11-17 14:53] #641 closed

[2021-11-17 14:53] #334 closed

[2021-11-17 14:53] #665 closed

[2021-11-17 14:53] #677 closed

[2021-11-17 15:09] FirefoxMetzger commented on #362
@almarklein @jni 10pm CET / 8am ACT it is. Now for the more challenging part. Finding a date :D

Yep, I think on that part we are on the same page (though maybe I'd draw the circle broader than just around skimage). However, it is a different question on whether the metadata and the pixel data should be served together (struct/object) or individually. @jni seems to prefer the `Image` object route,

[2021-11-18 06:49] ugtony opened #687 "imageio.imwrite no longer works with io.BytesIO"
Hi,
The code below works well imageio==2.10.4 while doesn't work with imageio==2.11.0,
please take a look, thanks.
[code]

error message
[code]

[2021-11-18 07:48] FirefoxMetzger commented on #687
That reproduces for me on master. Looks like an omission in the new fast-path for file extensions. The following workaround (using the v3 API) appears to work fine:

[code]

I will have a look into where legacy imwrite breaks soon™ (hopefully this afternoon). It sounds like it should be a small fix, in which case we should be able to release it this week.

[2021-11-19 12:56] almarklein commented on #362
Definitely!

Right. I think it makes sense for functions to automatically use the standardized fields, so subsequently it makes sense for these to be attached to the image object (so that they travel along with the image). But for the plugin-specific metadata this would get muddy, and a function using that info might result in surprising (magical in a bad way) behaviour. I think this is a valid ar

[2021-11-19 14:05] #687 closed

[2021-11-19 14:54] FirefoxMetzger commented on #576
Closing this issue due to lack of activity. Writing transparent grayscale PNGs seems to work fine with the v3 pillow plugin:

[code]

[2021-11-19 14:54] #576 closed

[2021-11-19 14:59] FirefoxMetzger commented on #575
Closing this since it is fixed in v3. If anyone needs this in v2.X, please leave a comment :)

[2021-11-19 14:59] #575 closed

[2021-11-19 22:57] jni commented on #362
@FirefoxMetzger @almarklein can you discuss dates amongst yourselves? I generally don't start my day before 9am so all of my 8ams are currently free *except* Dec 16. :smiley: As long as it's a weekday!

Regarding the one vs two objects, the issue is that two objects is clunky when the two things belong together *and* a single object is strictly more general, because I can always do `result = filte

[2021-11-20 01:58] KelSolaar opened #690 "AttributeError: module 'imageio.plugins' has no attribute 'freeimage'"
Hello,

I have started to get [CI failures](https://github.com/colour-science/colour/runs/4270969224?check_suite_focus=true#step:8:177) today, most likely due to some changes introduced by *imageio 2.11.0*.

I usually install the Freeimage plugin as follows:

[code]

Which now raises an exception:

[code]

[2021-11-20 06:56] FirefoxMetzger commented on #690
Try

[code]

it works on my local version without error, so that should be an initial solution/workaround. I have FreeImage installed already, but that shouldn't make a difference here.

---

2.11.0 stops importing all plugins immediately; instead, plugins are lazy-imported on first use. This makes ImageIO (marginally) faster, but also means you won't have to deal with plugin-specific problems (li

[2021-11-20 10:48] FirefoxMetzger commented on #362
@jni @almarklein Awesome. I looked up both of your emails and sent a suggestion; seemed like the easier/faster thing to do.

Doesn't that go both ways though? It's pretty easy to tear a single object into multiple bits, but it is just as possible to stack parts into one object downstream if downstream decides that it wants to consume images in this way:

[code]

This touches upon another topic, wh

[2021-11-20 14:14] FirefoxMetzger commented on #459
@xkortex If you still have the images in question? If so could you test with a recent version of ImageIO and see if the issue still exists?

Based on what you have written, it looks like the Pillow backend is being used, whereas it should really use the FreeImage backend. All the formats you mentioned should (according to our docs) be read by FreeImage (via `format="RAW-FI"`). I double-checked our

[2021-11-20 14:49] FirefoxMetzger opened #691 "Add rawpy backend"
I found an I/O library that I wasn't aware of today; perhaps it is worth adding a plugin for it. It is called rawpy and provides access to various RAW formats via [libraw](https://www.libraw.org/).

GH Link: https://github.com/letmaik/rawpy
Docs: https://letmaik.github.io/rawpy/api/
Tutorials: https://github.com/letmaik/rawpy-notebooks/blob/master/README.md

If you would like to see this backend a

[2021-11-20 14:56] FirefoxMetzger opened #692 "Add NiBabel backend"
I found an I/O library that I wasn't aware of today; perhaps it is worth adding a plugin for it. It is called nibabel and provides access to various neuroimaging formats.

GH Link: https://github.com/nipy/nibabel
Docs: https://nipy.org/nibabel/manual.html

If you would like to see this backend added, please react to this post or leave a comment below. The more feedback I get on a backend, the more

[2021-11-21 11:51] FirefoxMetzger commented on #690
@KelSolaar I've added a PR to bring back

[code]

We will have to internally discuss the solution I've chosen, so it might not be merged immediately. Either way, a solution has been identified and is on its way into one of the next releases :) In the meantime you can of course rely on the workaround I posted above.

[2021-11-22 14:19] johnthagen opened #694 "BytesWarning thrown in imread in 2.11.1"
There seems to be a small regression when calling `imread` and enabling `BytesWarning`s ([-bb](https://docs.python.org/3/using/cmdline.html#cmdoption-b)):

[code]

Run with:

[code]

Enabling `BytesWarning`s helps users catch `str`/`bytes` confusion in their own code.

### Environment

Python 3.9.8

[code]

[2021-11-22 19:30] KelSolaar commented on #690
Hi @FirefoxMetzger,

I think it would be worthwhile to not break this API. Only speaking for us here, but we do use `python -c "import imageio;imageio.plugins.freeimage.download()"` in a lot of places, continuous integration, Docker containers, Ansible recipes, Jupyter and Colab Notebooks, etc...

It means that as of right now, all of this breaks. It is certainly our fault for not pinning specific

[2021-11-22 21:49] FirefoxMetzger commented on #690
@KelSolaar It does make sense, and I agree.

It wasn't my intention to break this API, which is why there is a PR to bring it back and also why there was no deprecation warning. I develop against our CI because that's the best way to check if I broke anything, but that clearly isn't infallible. However, the CI does get better incrementally and #693 includes a new unit test to check for the availab

[2021-11-22 23:16] KelSolaar commented on #690
Thank you, this sounds awesome!

[2021-11-23 04:44] FirefoxMetzger commented on #694
The warning you shared points to us raising an exception when a plugin/backend can't read a resource:

https://github.com/imageio/imageio/blob/e2a0363513c3d1d4699bf6206274deb9091796e7/imageio/core/legacy_plugin_wrapper.py#L62-L65

I can see how this could be cryptic/undesirable if the exception surfaces for `bytes` since it would flood the console/log.

@johnthagen What do you think would be a goo

[2021-11-23 08:44] #679 closed

[2021-11-23 13:09] johnthagen commented on #694
@FirefoxMetzger I think that error message could be a better fit.

Another option would be to check if `raw_uri` is `bytes` and try to `.decode()` or base64 encode it so it's a proper `str`.

But like you said, this would probably not be a useful error message as it could be very long and flood the screen.

I think what you propose would be the best solution for `bytes`.

[2021-11-24 06:39] Kulikovpavel commented on #686
Temporary fix
[code]

[2021-11-25 07:40] FirefoxMetzger commented on #633
I am going to leave a link here for future reference:
https://docs.openmicroscopy.org/bio-formats/6.7.0/supported-formats.html

Bioformats is a Java-based library that - similar to ImageIO - provides read and write access to various images. It focuses on biomedical images and they have a list of supported formats. I was thinking this could be relevant here because we could compare that to our list

[2021-11-26 09:41] dennisvang opened #697 "ffmpeg.Reader._get_cam_inputname causes "ResourceWarning: unclosed file""
### Description

In my tests I keep seeing `ResourceWarning: unclosed file <_io.BufferedWriter name=3>`

With `PYTHONTRACEMALLOC=1`, here's what I get:

[code]

### How to reproduce

On a Windows 10 laptop with built-in webcam (`<video0>`), using Python 3.9.7, `imageio` 2.11.0, `imageio-ffmpeg` 0.4.5, run the following test:

[code]

### Cause

Looking at the [source of _get_cam_inputname](https:/

[2021-11-26 11:48] dennisvang commented on #697
... and I'm seeing a similar thing in [ffmpeg.Reader._close()](https://github.com/imageio/imageio/blob/v2.12.0/imageio/plugins/ffmpeg.py#L350).

[2021-11-26 20:43] FirefoxMetzger commented on #697
@dennisvang Interesting find. Are you on the latest version of ImageIO?

[2021-11-27 10:31] FirefoxMetzger commented on #697
I had a look and can reproduce this locally. I made two modifications to your MWE. One is cosmetic (execute unittest when the MWE is run), the other is I think an omission. When you use `get_reader`, you have to explicitly `close()` the file/reader when you are done, similar to the built-in `open` when used outside a context manager:

[code]

Moving into the warning itself, we are indeed letting G

[2021-11-27 10:57] FirefoxMetzger commented on #694
This is a small change, but I think I won't be able to implement it in the next couple of days, because I am occupied with other work.

@johnthagen Would you like to contribute this update?

It would mean testing if the input is `bytes`, and if so, to then change the error message for the `InitializationError` I shared in the previous comment and the message of the exception for writing (below the

[2021-11-27 20:18] FirefoxMetzger commented on #29
@almarklein As you mentioned here a (long) while ago, MHD is supported via itk/simpleitk. Since then, our policy has become more liberal towards non-python backends, so I think it is okay to have MDH support via simpletik for those that need it.

Since this issue doesn't suggest a specific alternative backend for MHD, should we close it for now? (We can always open a new issue for a dedicated plug

[2021-11-28 09:38] FirefoxMetzger commented on #122
I just checked the website of FLIF mentioned in the first post. It now has a paragraph saying

@almarklein Should we close this issue? FLIF appears to be discontinued and superseded. I think that a sensible approach would be to just let it rest in peace. If anybody needs FLIF support in the future (to read legacy files) we can discuss this in a dedicated/new issue.

[2021-11-29 09:36] dennisvang commented on #697
@FirefoxMetzger : Good point about the `reader.close()`: my example was a bit too minimal there. I also agree that `sp.run()` would yield the cleanest code. On the other hand, I suggested using `Popen` as context manager because it stays as close as possible to the current implementation, just to be on the safe side. I believe `subprocess.run()` uses a slightly [different approach](https://github.

[2021-11-29 12:25] FirefoxMetzger commented on #697
@dennisvang Hm, the main difference I see is that `communicate` will wait for the sub-process to close by itself, whereas the `Popen` route will explicitly close/kill the process. Potentially, this could recover if the subprocess gets stuck. However, we are calling

[code]

here, followed by a `stdout.readline()` which we discard. This essentially just blocks the main process until the subprocess

[2021-11-30 09:20] almarklein commented on #29
I've worked on a pure Python mhd implementation a year or so ago. It's in a propitiatory codebase right now, but I think ppl may be open to bringing that code here. That said, yes lets close this.

[2021-11-30 09:20] #29 closed

[2021-11-30 09:21] #690 closed

[2021-11-30 09:24] #122 closed

[2021-12-01 06:37] FirefoxMetzger commented on #690
@KelSolaar CD just picked up the PR addressing the `imageio.plugins.freeimage.download()` problem and it should be fixed on pypi now. Could you try running your CI and see if it is resolved?

[2021-12-01 07:58] KelSolaar commented on #690
@FirefoxMetzger : Awesome guys, confirming it works fine!

https://github.com/colour-science/colour/runs/4378240753?check_suite_focus=true

[2021-12-01 09:01] dennisvang commented on #697
@FirefoxMetzger It looks like you are right. I'll give it a try.

[2021-12-01 12:36] dennisvang commented on #391
Here's a recent ffmpeg ticket that may be related: [Unsupported frame rate with capture device after updating to MacOS Monterey](https://trac.ffmpeg.org/ticket/9505)

[2021-12-02 12:55] anjos opened #700 "Simplifying pytest markers/skip conditions for "no internet""
I'm trying to enable test runs in the conda-forge builds of this package, but I'm finding it hard to get the implementation right.

One of the reasons for this is that this package implements a way to check for internet access which is a bit unusual for a framework based on pytest.  As far as I could understand, if the value of the environment variable `IMAGEIO_NO_INTERNET` assumes a true value, t

[2021-12-02 16:44] FirefoxMetzger commented on #700
Yes, it would certainly be possible and a very welcome refactor. The reason it is like this is that it was written in this way some 7 years or so ago, and nobody refactored it since. If you would like to do the refactor, I'm happy to do the reviewing 🚀

---

While being on that topic @almarklein is there a deeper reason for being able to manually disable parts of the unit tests (that presumably ne

[2021-12-02 17:03] anjos commented on #700
Agreed.  If a refactor is to be considered, may be you can consider the following as well:

* The possibility to run the unit tests directly by calling pytest instead of passing by `invoke`, and requiring `pytest-cov` is installed together with `.coveragerc`, that is actually not packaged on the PyPI package
* Auto-skip markers for modules/tests requring extra python modules to be installed
* Remo

[2021-12-02 20:42] FirefoxMetzger commented on #700
This should already be possible. I don't use `invoke` in my local setup at all and instead directly call `pytest` or `coverage run -m pytest`. Our CPython CI matrix calls `pytest` directly as well. Are you facing issues with this?

We shouldn't package the tests into the PyPI package/wheel, do we? What would be the advantage of shipping `.coveragerc` and adding `pytest-cov` as a requirement?

Yes,

[2021-12-02 21:57] FirefoxMetzger commented on #362
It looks like we can soon bring this to a close. To summarize the meeting we had, we agreed on the following points:

- Plugins will get two new methods: `properties(self, index=None) -> ImageDescriptor` and `metadata(self, *, remove_applied=True) -> Dict[str, Any]`. Details are in https://github.com/imageio/imageio/issues/362#issuecomment-966630641
- The `ImageDescriptor` contains standardized me

[2021-12-03 08:18] anjos commented on #700
This probably relates to my own ignorance on how to maintain this package - looking at the `ci.yaml` file, I got under the impression that `invoke` was required.  This seems to work, if ffmpeg and iomage-ffmpeg are not installed:

[code]

Please ignore that point.

OK.

Fair enough - I'll leave this bit to you then.

[2021-12-03 13:07] almarklein commented on #362
We also discussed an `ImageSequence` object next to the `Image` object, right?

Names ...

Let's consistently call metadata "meta". So `iio.immeta` I guess?

I like "props" for the descriptor. Let's also make it an `ImageProps` object ;)

[2021-12-03 15:04] FirefoxMetzger commented on #700
Ah yes, I recall seeing some code in our setup.py that would download all standard images and build dedicated "offline wheels". Do you think it is worthwhile revisiting this behavior? I think that a person looking to get a version of ImageIO that works offline is likely not very interested in our standard image suite, but has something more specific in mind.

[2021-12-03 15:20] FirefoxMetzger commented on #362
Yes. We should see how we can add this one. It can't have a direct slicing API, due to the multi-image formats that allow different shapes (and are non-stackable as a consequence). Maybe it can be a plugin that returns `Image` instead of `ndarray`? Then again, that could be handled by doing `plugin.read(like=iio.Image)`.

That was my first thought but I think `iio.immeta` is quite prone to typos d

[2021-12-03 15:32] almarklein commented on #700
That's still there, is it not? It just includes a few small standard images. It slightly increases the size of the wheel, but in return you always have some test images on the system, which is nice for examples, or e.g. replicating certain issues.

Well, quite a few of our tests require an internet connection. E.g. some tests are specific to a particular test image which is downloaded on demand. W

[2021-12-03 15:53] FirefoxMetzger commented on #700
Yes we still do that. If you think it is still relevant do have them, then lets keep them around.

That's a valid point; I didn't think about that at all. This is indeed enough reason to keep a switch like this around.

[2021-12-05 09:04] FirefoxMetzger opened #702 "Write more extensive fuzzer tests"
ImageIO has a fuzzer (for fuzz-testing) which OSS-Fuzz is running to discover and report bugs and crashes. A caveat for this is that it uses `atheris` for fuzzing, which currently only works on Linux. Because of that local reproducibility of found bugs is currently limited to Linux systems. In either case, I think it would be worthwhile to make better use of this offer.

The purpose of this issue

[2021-12-06 13:48] Qwlouse opened #703 "`tiff` can not handle the given uri "<bytes>""
Starting from version `2.11.0`  I get an error when trying to write a `tiff` image to a bytes object.

The following code reproduces the error (up to version `2.10.5` it works fine):
[code]

The error:

[code]

[2021-12-07 06:49] hanselda commented on #684
I am surprised by this behavior when installing the new imageio version that the exe generated by pyinstaller does not work anymore. Currently I revert back to version 2.10.5.

[2021-12-07 07:58] FirefoxMetzger commented on #703
Thanks for the report @Qwlouse . I tried it locally and could reproduce it. #704 should fix this and added your example as a regression test :)

[2021-12-07 08:08] FirefoxMetzger commented on #684
@hanselda Thanks for letting us know. Could you describe how things are breaking? That way, we can figure out what to adjust to make it work again.

In particular, could you give us a small example of what you are doing so we can try to reproduce it locally on our machines?

[2021-12-07 08:54] #703 closed

[2021-12-07 11:23] anjos opened #706 "Automatically use locally available version libfreeimage"
What would it take to make this package try to **automatically** use the pre-installed version of that library instead of downloading its own copy?  (N.B. I realise that `$IMAGEIO_FREEIMAGE_LIB` may be set on the user environment to point to a common installation of the file, however, I'm looking for an automated solution.)

For example, in conda-forge, freeimage is currently available for install

[2021-12-07 12:18] FirefoxMetzger commented on #706
Hm, @anjos do you know how other python packages auto-detect existing C-libraries?

I have some knowledge on how this is done in C/C++ projects (in particular through CMake), but that mostly revolves around searching default installation paths for various OSes or relying on hints from the user; both get messy fast.

If there is a pre-existing python package that we can check the existence of that

[2021-12-07 15:04] anjos commented on #706
There are solutions for libraries that standardise packaging, e.g., via pkg-config.  The python library pkgconfig (https://github.com/matze/pkgconfig) can help with that.  Here is an example for ffmpeg's libavutil:

[code]

Then all you need to do is parse this output.  Now, freeimage does not provide any of that, so no luck on that side, you'll have to load the library by hand and check the versi

[2021-12-07 15:13] anjos commented on #706
I took a look at the FreeImage API (https://freeimage.sourceforge.io/documentation.html), and apparently, they do provide a method inside the C-API that outputs the version: `DLL_API const char *DLL_CALLCONV FreeImage_GetVersion(void);`

So, here is the strategy for this library:

1. Use `ctypes` to find the library to load, with the correct name (https://docs.python.org/3/library/ctypes.html#find

[2021-12-07 15:14] anjos commented on #706
You may apply the same strategy for the ffmpeg library or its components.

[2021-12-07 15:16] hanselda commented on #684
Python 3.9.8 64-bit
Windows 10

venv
requirements.txt:
altgraph==0.17.2
future==0.18.2
imageio==2.13.2
numpy==1.21.4
pefile==2021.9.3
Pillow==8.4.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pywin32-ctypes==0.2.0

content of test.py
`
from imageio import imread
img = imread("test.tif")
print(img.shape)
input()
`

There is a image file "test.tif" in the same folder as test.py. Running the p

[2021-12-09 14:58] kmilos commented on #706
With conda (at least I tested on Windows), imageio will "automatically" use the installed freeimage library ([it searches the known locations and shared library names](https://github.com/imageio/imageio/blob/9df61d23f398904c96c334c67dbf67c655e15c52/imageio/core/findlib.py#L32)). Not as elegant as you suggest, but seems to work for most known environments so far...

For example, with MSYS2 packages

[2021-12-10 11:55] FirefoxMetzger commented on #459
Closing this due to lack of activity, and because it is likely fixed by one of the recent changes to how formats are resolved (although I can't test this, because I don't have the images in question).

If this issue persists or if there is more to discuss, feel free to comment and I will reopen.

[2021-12-10 11:55] #459 closed

[2021-12-11 05:38] KeygenLLC opened #707 "Problems reading and writing float32 RGB TIFF"
I'm not sure if this is related to post #703 and #704 so just wanted to post to double check.

In python on macOS, I tried reading a float32 RGB TIFF from a file with imageio and also with tifffile.  Trying to write this as bytes to a variable throws an error: `OSError: An unknown error occurred while initializing plugin 'tif'.`

Example:
[code]
tifffile example:
[code]
I've only seen this with fl

[2021-12-11 13:58] FirefoxMetzger commented on #707
Thanks for the report @KeygenLLC .

#704 rolled out 3 days ago as imageio 2.13.3, so if you are on the latest version you will have those updates. The error message that you are seeing is also triggered by a different part of the library. In your case, a plugin was successfully identified (via `format="tif"` which resolves to `tifffile`), but the plugin fails to initialize a writer.

The exact sou

[2021-12-11 19:29] KeygenLLC commented on #707
Thanks for the quick reply. I'm using the latest version so it must be something else.

These images are from Photoshop, so it might be how it's saving the TIFF. It was saving EXR as half float which is why I switched to using TIFF in the first place. Wouldn't be surprised if it's something wonky happening on save. I have checked with `exiftool` and they are 32-bit floating point images, uncompres

[2021-12-11 20:05] FirefoxMetzger commented on #707
Thanks for the images @KeygenLLC . To me, unsplash images are just fine, as long as they allow me to reproduce the problem :D

I downloaded the images you attached and did the following test:

[code]

The images read and write fine and look visually similar to the preview that I get in the Windows Photo Viewer. They do appear darker in matplotlib, but that is a different issue. The warning `Clippi

[2021-12-11 20:15] KeygenLLC commented on #707
Not sure why I didn't post this, but here is the trace. Paths are abridged for NDA.

[code]

[2021-12-11 20:22] FirefoxMetzger commented on #707
@KeygenLLC Yes, the stacktrace, too, looks like imageio tries to call methods on the `io.BytesIO` class instead of calling them on a `io.BytesIO()` object.

What does `type(the_file)` evaluate to? (this is presumably part of your code)

[2021-12-11 20:32] KeygenLLC commented on #707
I ran a quick Levels on the picture. It probably dipped below black. Working with post-production and CG, we often get negative float values and values above 1, hence the 32-bit float which lets us pull those back into range in compositing. My files may or may not have values beyond 0-1. Depends on what it is.

Will that cause problems because one of the reason I'm using floating point images is f

[2021-12-12 08:17] FirefoxMetzger commented on #707
Depends on what you are doing, but probably not. ImageIO itself will (as you can see above) happily read/write those values. However, downstream image processing code might rely on the assumption that `dtype=float` means pixels are in the range `[0, 1]`, and violating that might lead to strange behavior. So yes, ImageIO will be fine, but other image processing might behave unexpectedly.

Sounds li

[2021-12-12 08:17] #707 closed

[2021-12-12 12:27] KeygenLLC commented on #707
Thanks for the info about float. I'll keep that in mind and look for artifacts in case they popup elsewhere down the line.

Again, sorry about the mixup. I try to be thorough before posting issues, but must have gone blind after too many hours of testing.

[2021-12-13 14:14] anjos commented on #706
Let me verify this and get back to you.

[2021-12-14 23:20] KeygenLLC opened #708 "Correct way to write a multi-layered tiff file for reading in Photoshop?"
Hello again

I've been trying to use imageio to write a multi-layered TIFF file that can be read by Photoshop. I prepared a variable of multiple numpy arrays (the images read in by imageio).

If I use `mimwrite` I seem to only get one layer in Photoshop. It is RGB and at the correct bit depth. I'm using tifffile as the plugin driver.

By _LAYERS_, I mean individual, editable layers that each conta

[2021-12-15 01:25] cgohlke commented on #708
The layers of Photoshop TIFFs are stored in the ImageSourceData tag # 37724 binary structure as specified in "Adobe Photoshop TIFF Technical Notes" and "Adobe Photoshop File Formats Specification".

[2021-12-15 03:24] KeygenLLC commented on #708
Thanks. I'll check them out and will close this.

[2021-12-15 03:24] #708 closed

[2021-12-15 06:27] KeygenLLC commented on #708
@cgohlke Sorry to bother you, but is this along the right lines? It still only opens the flattened image in PS because it's lacking all the rest of the metadata, but this is the only code so far that will not corrupt the file when trying to pass in the metadata.

[code]
If I'm making any sense out of the Adobe docs, I would have to encode and write the following to the file for each layer, and the

[2021-12-15 19:24] cgohlke commented on #708
Once you have constructed the ImageSourceData binary structure as described in the specifications, you can write it to the TIFF file using the extratags parameter: `tifffile.imwrite(..., extratags=[(37724, 7, None, imagesourcedata, True)])`. Maybe [psd-tools](https://pypi.org/project/psd-tools/) can help construct the ImageSourceData binary structure?